<div class="banner-block">
    <h2 class="banner-block-title">
        <span class="mw-headline" id="Become_a_certified_trainer_on_research_integrity_and_ethics">
            Become a certified trainer on research integrity and ethics
        </span>
    </h2>
    <div class="banner-block-body">
        <div class="banner-block-list">
            <ul>
                <li>A virtue ethics approach to teaching research integrity</li>
                <li>Blended learning: online and face-to-face</li>
                <li>25 trainings in 10 different EU countries</li>
            </ul>
        </div>
        <div class="button-block">
            <span class="Virt2ue-button">
                <span>Enroll in the</span>
                <span>VIRT2UE training</span>
            </span>
            <span class="training-link">
                <a href="#More_about_this_training">More about this training</a>
            </span>
        </div>
    </div>
</div>
