<div class="block-wrapper">
    {% if block.sectionheader %}
        <div class="instruction-sectionheader">
            <div class="instruction-sectionheader-container">
                <h4>{{ block.sectionheader }}</h4>
            </div>

        </div>
    {% endif %}
    <div class="block">
        <div class="block-container">
            <div class="block-header">

                <span class="block-icon icon-{{block.type}}"></span>
{#                    <svg class="block-icon">#}
{#                        <use xlink:href="#{{ block.icon }}"></use>#}
{#                    </svg>#}

                <span>{{ block.type }}</span>
            </div>
            <div class="block-title">
                {{ block.title }}
            </div>
            <div class="block-text">
                {{ block.text }}
                {% if block.published_year %}
                    <span class="block-published">({{ block.published_year }})</span>
                {% endif %}
            </div>
            <div class="block-meta">
                {% if block.tags %}
                    <div class="block-tags">
                        <div class="block-tag block-tags--duration">
                            0,5 hours
                        </div>
                        <div class="block-tag block-tags--participants">
                            3 - 5 participants
                        </div>
                        <div class="block-tag block-tags--blended">
                            Blended learning
                        </div>
                    </div>
                {% endif %}
                {% if block.count %}
                <div class="block-tags">
                    <div class="block-tag block-tags--count">
                        8 instructions
                    </div>
                </div>
                {% endif %}
                {% if block.virt2ue %}
                    <div class="block-virt2ue-label">
                        <span>By</span>
                        <a href="#">VIRT2UE</a>
                    </div>
                {% endif %}
            </div>

            {% if block.navigation %}
                <div class="block-navigation">
                    <a class="block-link" href="#">Open</a>
                    <a class="block-info" href="#">About</a>
                </div>
            {% endif %}

        </div>
    </div>
</div>
