<div class="block-list-wrapper">
    {% if resultCount %}
        <div class="mw-resultsinrange">
            <p>
                <span>85</span> Resources ordered by <span>recently added</span>
            </p>
        </div>
    {% endif %}
    <div class="block-list">
        <div class="block-list-items">
            {% for block in blocks %}
                {% include '../components/block.njk' %}
            {% endfor %}
        </div>
    </div>
</div>



