<div id="gesinn-custom-tabs" class="g-tab">
    <span class="g-tab-info">Instructions for:</span>
    <span class="g-tablinks active" data-tab="trainee">Trainee</span>
    <span class="g-tablinks" data-tab="trainer">Trainer</span>
</div>
