<div id="gesinn-custom-tabs" class="g-tab">
    <div class="gesinn-custom-tabs-container">
        <span class="g-tab-info">Instructions for:</span>
        <span class="g-tablinks disabled" data-tab="trainee">Trainee</span>
        <span class="g-tablinks" data-tab="trainer">Trainer</span>
    </div>
</div>
