<div id="drilldown-header">
    <a href="/wiki/Special:BrowseData/Theme" title="Reset filters">Theme</a> &gt; Theme Type:
    <span class="drilldown-header-value">~ 'Misconduct &amp; Misbehaviors'</span> <a href="/wiki/Special:BrowseData/Theme?_search_Involves%5B0%5D=Ana_Maru%C5%A1i%C4%87" title="Remove this filter"><img src="/static/images/filter-x.png"> </a>
    <span class="drilldown-header-value">&amp;</span> Involves:
    <span class="drilldown-header-value">~ 'Ana Marušić'</span> <a href="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors" title="Remove this filter"><img src="/static/images/filter-x.png"> </a>
    <span class="drilldown-header-value">~ 'General public'</span> <a href="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors" title="Remove this filter"><img src="/static/images/filter-x.png"> </a>
    <span class="drilldown-header-value">~ 'SH 03.03 - Environmental regulations and climate negotiations'</span> <a href="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors" title="Remove this filter"><img src="/static/images/filter-x.png"> </a>
    <span class="drilldown-header-value">~ 'PE 10.03 - Climatology and climate change'</span> <a href="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors" title="Remove this filter"><img src="/static/images/filter-x.png"> </a>
    <span class="drilldown-header-value">~ 'Institutional responsibilities'</span> <a href="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors" title="Remove this filter"><img src="/static/images/filter-x.png"> </a>
</div>

<p>Click on one or more items below to narrow your results.</p>

<div class="drilldown-filters is-guides">
    <div class="drilldown-filter is-applied is-normal-filter" data-filter-name="Guides">
        <div class="drilldown-filter-label"> Guides</div>
        <div class="drilldown-filter-values">
            <form method="get"
                  action="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors">
                <input type="hidden" value="Misconduct &amp; Misbehaviors" name="_search_Theme_Type[0]">
                <input type="hidden" value="Special:BrowseData/Theme" name="title">
                <div class="ui-widget">
                    <select class="semanticDrilldownCombobox" name="" style="display: none;">
                        <option value="_search_Theme_Type[1]"></option>
                        ;
                        <option value="Good Practices">Good Practices</option>
                        <option value="Misconduct &amp; Misbehaviors">Misconduct &amp; Misbehaviors</option>
                        <option value="Other">Other</option>
                        <option value="Principles &amp; Aspirations">Principles &amp; Aspirations</option>
                    </select><input id="_search_Theme_Type[1]" type="text" name="_search_Theme_Type[1]" value=""
                                    class="ui-autocomplete-input ui-widget ui-widget-content ui-corner-left"
                                    autocomplete="off">
                    <button type="button" tabindex="-1" title="Show All Items" class="ui-corner-right ui-button-icon"
                            style="width: 2.4em; margin: 0 !important; border-radius: 0">&nbsp;
                    </button>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                </div>
                <input style="margin: 4px 0 8px 0;" type="submit" value="Search">
            </form>
        </div>
    </div>
    <div class="drilldown-filter" data-filter-name="For whom is this important">
        <div class="drilldown-filter-label"> For whom</div>
        <div class="drilldown-filter-values">
            <form method="get"
                  action="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors">
                <input type="hidden" value="Misconduct &amp; Misbehaviors" name="_search_Theme_Type[0]">
                <input type="hidden" value="Special:BrowseData/Theme" name="title">
                <div class="ui-widget">
                    <select class="semanticDrilldownCombobox" name="" style="display: none;">
                        <option value="_search_Important_For[0]"></option>
                        ;
                        <option value="All stakeholders in research">All stakeholders in research</option>
                        <option value="Bachelor students">Bachelor students</option>
                        <option value="Editors">Editors</option>
                        <option value="Ethics committee members">Ethics committee members</option>
                        <option value="Funders">Funders</option>
                        <option value="General public">General public</option>
                        <option value="Journal editors">Journal editors</option>
                        <option value="Journal publishers">Journal publishers</option>
                        <option value="Junior researchers">Junior researchers</option>
                        <option value="Master students">Master students</option>
                        <option value="PhD Students">PhD Students</option>
                        <option value="PhD students">PhD students</option>
                        <option value="Policy makers">Policy makers</option>
                        <option value="Postdocs">Postdocs</option>
                        <option value="Principal investigators">Principal investigators</option>
                        <option value="Publishers">Publishers</option>
                        <option value="Research funding organisations">Research funding organisations</option>
                        <option value="Research institutions">Research institutions</option>
                        <option value="Research integrity trainers">Research integrity trainers</option>
                        <option value="Research performing organisations">Research performing organisations</option>
                        <option value="Research subjects">Research subjects</option>
                        <option value="Researchers">Researchers</option>
                        <option value="Reviewers">Reviewers</option>
                        <option value="Scientists">Scientists</option>
                        <option value="Senior researchers">Senior researchers</option>
                        <option value="Students">Students</option>
                        <option value="Supervisors">Supervisors</option>
                        <option value="Teachers">Teachers</option>
                        <option value="Universities">Universities</option>
                        <option value="academic staff">academic staff</option>
                        <option value="health care professionals">health care professionals</option>
                        <option value="industry stakeholders">industry stakeholders</option>
                    </select><input id="_search_Important_For[0]" type="text" name="_search_Important_For[0]" value=""
                                    class="ui-autocomplete-input ui-widget ui-widget-content ui-corner-left"
                                    autocomplete="off">
                    <button type="button" tabindex="-1" title="Show All Items" class="ui-corner-right ui-button-icon"
                            style="width: 2.4em; margin: 0 !important; border-radius: 0">&nbsp;
                    </button>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                </div>
                <input style="margin: 4px 0 8px 0;" type="submit" value="Search">
            </form>
        </div>
    </div>
    <div class="drilldown-filter" data-filter-name="Duration">
        <div class="drilldown-filter-label"> Duration</div>
        <div class="drilldown-filter-values">
            <form method="get"
                  action="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors">
                <input type="hidden" value="Misconduct &amp; Misbehaviors" name="_search_Theme_Type[0]">
                <input type="hidden" value="Special:BrowseData/Theme" name="title">
                <div class="ui-widget">
                    <select class="semanticDrilldownCombobox" name="" style="display: none;">
                        <option value="_search_Involves[0]"></option>
                        ;
                        <option value="Ana Marušić">Ana Marušić</option>
                        <option value="Mario Malički">Mario Malički</option>
                    </select><input id="_search_Involves[0]" type="text" name="_search_Involves[0]" value=""
                                    class="ui-autocomplete-input ui-widget ui-widget-content ui-corner-left"
                                    autocomplete="off">
                    <button type="button" tabindex="-1" title="Show All Items" class="ui-corner-right ui-button-icon"
                            style="width: 2.4em; margin: 0 !important; border-radius: 0">&nbsp;
                    </button>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                </div>
                <input style="margin: 4px 0 8px 0;" type="submit" value="Search">
            </form>
        </div>
    </div>
    <div class="drilldown-filter" data-filter-name="Participants">
        <div class="drilldown-filter-label"> Participants</div>
        <div class="drilldown-filter-values">
            <form method="get"
                  action="/wiki/Special:BrowseData/Theme?_search_Theme_Type%5B0%5D=Misconduct_%26_Misbehaviors">
                <input type="hidden" value="Misconduct &amp; Misbehaviors" name="_search_Theme_Type[0]">
                <input type="hidden" value="Special:BrowseData/Theme" name="title">
                <div class="ui-widget">
                    <select class="semanticDrilldownCombobox" name="" style="display: none;">
                        <option value="_search_Has_Virtue_And_Value[0]"></option>
                        ;
                        <option value="Accountability">Accountability</option>
                        <option value="Accuracy">Accuracy</option>
                        <option value="Honesty">Honesty</option>
                        <option value="Objectivity">Objectivity</option>
                        <option value="Reliability">Reliability</option>
                        <option value="Respect">Respect</option>
                    </select><input id="_search_Has_Virtue_And_Value[0]" type="text"
                                    name="_search_Has_Virtue_And_Value[0]" value=""
                                    class="ui-autocomplete-input ui-widget ui-widget-content ui-corner-left"
                                    autocomplete="off">
                    <button type="button" tabindex="-1" title="Show All Items" class="ui-corner-right ui-button-icon"
                            style="width: 2.4em; margin: 0 !important; border-radius: 0">&nbsp;
                    </button>
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                </div>
                <input style="margin: 4px 0 8px 0;" type="submit" value="Search">
            </form>
        </div>
    </div>
</div>
