<div class="pageheader-form-button {{ pageheader.button.type }} {% if pageheader.button.class %}{{ pageheader.button.class }}{% endif %}">
    <form action="{{ pageheader.button.action }}" method="get" target="_self"
          {% if pageheader.button.dropdown %}data-dropdown-trigger{% endif %}>

        <button type="submit" value="{{ pageheader.button.value }}" title="">
            {{ pageheader.button.label }}
        </button>

        {% if pageheader.button.dropdown %}
            <div class="te-dropdown-menu">
                {% for item in pageheader.button.dropdown %}
                    <div class="dropdown-item">
                        <span class="dropdown-item-title">{{ item.title }}</span>
                        <span>{{ item.description }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
</div>
