<div class="other-information-block grid-block">
    <h5 class="other-information-title">{{ otherInfoBlockData.title }}</h5>
    <ul class="other-information-items">
        {% for item in otherInfoBlockData.items %}
            <li class="other-information-item grid-item"><a href="#">{{ item.label }}</a></li>
        {% endfor %}
        <li class="other-information-last grid-item-last"><a href="#">+ more</a></li>
    </ul>
</div>
