<div class="pageheader row no-gutters">
    {% if pageheader.back_button %}
        <a class="pageheader-back" href="{{ pageheader.back_button.url }}">
            <svg>
                <use xlink:href="#icon-back"></use>
            </svg>
            <span>{{ pageheader.back_button.label }}</span>
        </a>
    {% endif %}
    <div class="content text-center text-lg-left offset-lg-2">
        {% if pageheader.type %}
            <div class="pageheader-type">
                {% if pageheader.type.label %}
                    <span class="pageheader-type-icon {{ pageheader.type.icon }}"></span>
                    <span class="pageheader-type-label">{{ pageheader.type.label }}</span>
                {% endif %}
            </div>
        {% endif %}
        <div class="pageheader-title">
            {% if pageheader.icon %}
                <svg>
                    <use xlink:href="#icon-{{ pageheader.icon }}"></use>
                </svg>
            {% endif %}
            <h1>{{ pageheader.text.title }}</h1>
        </div>
        {% if pageheader.text.content %}
            <div class="pageheader-description">
                <p>{{ pageheader.text.content }}</p>
            </div>
        {% endif %}
        {% if pageheader.button %}
            {% if pageheader.button.type == 'formbutton-add' %}
                {% include 'components/formbutton-add.njk' %}
            {% endif %}
            {% if pageheader.button.type == 'formbutton-edit' %}
                {% include 'components/formbutton-edit.njk' %}
            {% endif %}
        {% endif %}
        {% if pageheader.cta %}
            <div class="pageheader-cta">
                {{ pageheader.cta | safe }}
            </div>
        {% endif %}
    </div>
</div>
