<div class="profile" data-dropdown-trigger>
    <span class="profile-initials">R</span>

    <div class="te-dropdown-menu">
        <a href="#profile-page"><span>Ruben Nascimento</span></a>
        <a href="#logout"><span>Logout</span></a>        
    </div>
</div>
