<div class="resource-block">
    <div class="resource-block-container">
        <div class="resource-block-header">
            {% if resource.icon %}
                <svg class="resource-block-icon">
                    <use xlink:href="#{{ resource.icon }}"></use>
                </svg>
            {% endif %}
            <span>{{ resource.type }}</span>
        </div>
        <div class="resource-block-title">
            {{ resource.title }}
        </div>
        <div class="resource-block-authors">
            {{ resource.authors }}
            {% if resource.published_year %}
                <span class="resource-block-published">({{ resource.published_year }})</span>
            {% endif %}
        </div>
        <div class="resource-block-navigation">
            <a class="resource-block-link" href="#">Open</a>
            <a class="resource-block-info" href="#">About</a>
        </div>
    </div>
</div>
