<aside class="sidebar col-sm-12 col-md-3 col-xl-2">
    <div class="sticky-top">
        <h5>The Embassy Components</h5>
        <a href="/components/card">Cards</a><br>
        <a href="/components/homeblock">Home Block</a><br>
        <a href="/components/navigation">Navigation</a><br>
        <a href="/components/footer">Footer</a>
        <p></p>
        <p></p>
        <h5>Bootstrap Components</h5>
        <a href="/bootstrap/buttons">Buttons</a><br>
        <a href="/bootstrap/forms">Forms</a><br>
        <a href="/bootstrap/typography">Typography</a><br>
        <a href="/bootstrap/tooltips">Tooltips</a>
        <p></p>
        <p></p>
        <h5>Pages</h5>
        <a href="/pages/home" target="_blank">Homepage</a>
    </div>
</aside>
