<aside class="sidebar col-sm-12 col-md-3 col-xl-2">
    <h5>The Embassy Components</h5>
    <a href="/components/navigation">Navigation</a>
    <p></p>
    <h5>Bootstrap Components</h5>
    <a href="/bootstrap/buttons">Buttons</a>
</aside>
