<aside class="te-sidebar col-sm-12 col-md-3 col-xl-2">
    <div class="sticky-top">
        <h5>The Embassy Components</h5>
        <a href="/components/card">Cards</a><br>
        <a href="/components/masonry-columns">Masonry Columns</a><br>
        <a href="/components/homeblock">Home Block</a><br>
        <a href="/components/link-button">Link Button</a><br>
        <a href="/components/navigation">Navigation</a><br>
        <a href="/components/pageheader">Page header</a><br>
        <a href="/components/footer">Footer</a><br>
        <a href="/components/icons">Icons</a><br>
        <a href="/components/video-button">Video Button</a><br>
        <a href="/components/profile">Profile</a><br>
        <a href="/components/resource-block">Resource Block</a><br>
        <p></p>
        <p></p>
        <h5>Bootstrap Components</h5>
        <a href="/bootstrap/buttons">Buttons</a><br>
        <a href="/bootstrap/forms">Forms</a><br>
        <a href="/bootstrap/typography">Typography</a><br>
        <a href="/bootstrap/tooltips">Tooltips</a><br>
        <p></p>
        <p></p>
        <h5>Layouts</h5>
        <a href="/layouts/main">Main</a><br>
        <a href="/layouts/main-fullwidth">Main Fullwidth</a><br>
        <a href="/layouts/sidebar">Sidebar</a><br>
        <p></p>
        <p></p>
        <h5>Pages</h5>
        <a href="/pages/home" target="_blank">Homepage</a><br>
        <a href="/pages/themes" target="_blank">Themes landing</a><br>
        <a href="/pages/theme" target="_blank">Theme detail</a><br>
        <a href="/pages/resources" target="_blank">Resources</a><br>
        <a href="/pages/trainings" target="_blank">Training landing</a><br>
        <a href="/pages/training" target="_blank">Training detail</a><br>
        <a href="/pages/about" target="_blank">About</a><br>
        <a href="/pages/founders" target="_blank">Founders</a><br>
        <a href="/pages/contributors" target="_blank">Contributors</a><br>
    </div>
</aside>
