<div class="steps-foldout">
    <div class="steps-foldout-container">
        <div class="steps-foldout-toggle">Steps</div>
        <div class="steps-foldout-content">
            {% for step in steps %}
                <div class="steps-foldout-step">
                    <span>{{ loop.index }}</span>
                    <a href="#{{ step.target }}">{{ step.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
