<div class="steps-foldout">
    <div class="steps-foldout-container">
        <input type="checkbox" id="steps-foldout">
        <label for="steps-foldout" class="steps-foldout-toggle">Steps</label>
        <div class="steps-foldout-content">
            <div class="steps-foldout-step">Title of the first step</div>
            <div class="steps-foldout-step">Title of the second step</div>
            <div class="steps-foldout-step">Title of the third step</div>
            <div class="steps-foldout-step">Etc.</div>
        </div>
    </div>
</div>


