<div class="summary-block">
    <div class="summary-block-container">
        <div class="summary-item summary-item--goal">
            <div class="summary-item-title">Goal</div>
            <div class="summary-item-content">You will be able to lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non ex eget tellus placerat suscipit.</div>
        </div>
        <div class="summary-item summary-item--requirements">
            <div class="summary-item-title">Requirements</div>
            <div class="summary-item-content">Make sure you are aware of lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non ex eget tellus placerat suscipit.</div>
        </div>
        <div class="summary-item summary-item--small summary-item--duration">
            <div class="summary-item-title">Duration</div>
            <div class="summary-item-content">2.5 hours</div>
        </div>
        <div class="summary-item summary-item--small summary-item--participants">
            <div class="summary-item-title">Participants</div>
            <div class="summary-item-content">3 - 5</div>
        </div>
        <div class="summary-item summary-item--small summary-item--forwhom">
            <div class="summary-item-title">For</div>
            <div class="summary-item-content">Trainers in training, another type of person</div>
        </div>
        <div class="summary-item summary-item--small summary-item--participants">
            <div class="summary-item-title">Method</div>
            <div class="summary-item-content">Blended learning</div>
        </div>
        <div class="summary-block-virt2ue-label">
            <span>Part of</span>
            <a href="#">VIRT2UE train-the-trainer training</a>
        </div>
    </div>
</div>
