<div class="summary-block">
    <div class="summary-block-container">
        <div class="summary-item" data-property="Instruction Goal">
            <div class="summary-item-title">Goal</div>
            <div class="summary-item-content">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="summary-item" data-property="Has Requirements">
            <div class="summary-item-title">Requirements</div>
            <div class="summary-item-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet.
            </div>
        </div>
        <div class="summary-item" data-property="Has Duration">
            <div class="summary-item-title">Duration (hours)</div>
            <div class="summary-item-content">
                0.5
            </div>
        </div>
        <div class="summary-item" data-property="Has Participants">
            <div class="summary-item-title">Participants</div>
            <div class="summary-item-content">
                3-5
            </div>
        </div>
        <div class="summary-item" data-property="Important For">
            <div class="summary-item-title">For</div>
            <div class="summary-item-content">
                <span class="label label-info label-tag">
                    <a href="/wiki-wiki/index.php?title=Important_For:Bachelor_students&amp;action=edit&amp;redlink=1"
                       class="new"
                       title="Important For:Bachelor students (page does not exist)">Bachelor students</a>
                </span>

                <span class="label label-info label-tag">
                    <a href="/wiki-wiki/index.php?title=Important_For:Bachelor_students&amp;action=edit&amp;redlink=1"
                       class="new" title="Important For:Bachelor students (page does not exist)">Bachelor students</a>
                </span>
            </div>
        </div>
        <div class="summary-item" data-property="Has Method">
            <div class="summary-item-title">Method</div>
            <div class="summary-item-content">
                <span class="label label-info label-tag">
                    <a href="/wiki-wiki/index.php?title=Has_Method:Method_1&amp;action=edit&amp;redlink=1"
                       class="new" title="Has Method:Method 1 (page does not exist)">Method 1</a>
                </span>
                <span class="label label-info label-tag">
                    <a href="/wiki-wiki/index.php?title=Has_Method:Method_2&amp;action=edit&amp;redlink=1"
                       class="new" title="Has Method:Method 2 (page does not exist)">Method 2</a>
                </span>
            </div>
        </div>
        <div class="summary-block-initive">
            <span>Part of:</span>
            {# The class name is image because this is added by default from SMW #}
            <a class="image" href="#"><img src="/static/images/virtue-initiative.svg"></a>
            <a href="#">VIRT2UE train-the-trainer training</a>
        </div>
        <div class="summary-block-initive">
            <span>Part of:</span>
            <a class="image" href="#"><img src="/static/images/flag-eu.png"></a>
            <a href="#">VIRT2UE train-the-trainer training</a>
        </div>
    </div>
</div>
