<div class="Virt2ue-button-wrapper {{modifier}}">
    <a class="Virt2ue-button" href="#">
        VIRT2UE training guide
    </a>
    <a class="guide-link" href="#">Another training guide</a>
    <a class="guide-link" href="#">Another training guide</a>
    <a class="guide-link" href="#">Another training guide</a>
</div>
