<div class="Virt2ue-button-wrapper {{ modifier }}">
    <span class="Virt2ue-button">
        <a href="#VIRT2UE_training_guide_VIRT2UE_training_guide">
            VIRT2UE training guide
        </a>
    </span>
    <span class="guide-link">
        <a href="#Another_training_guide">Another training guide</a>
    </span>
    <span class="guide-link">
        <a href="#Another_training_guide">Another training guide</a>
    </span>
    <span class="guide-link">
        <a href="#Another_training_guide">Another training guide</a>
    </span>
</div>
