// Add all variations for buttons
.sidebar-item.formbutton-edit {
  a {
    position: relative;
    color: $te-black;
    background-color: $te-lightblue;
    padding: 10px 20px;
    display: inline-block;
    height: 44px;
    transition: background-color 150ms ease-in-out;
    font-family: $te-font-bold;
    font-size: rem-calc(16);

    &::before,
    &::after {
      position: absolute;
      z-index: 0;
      top: 0;
      left: -10px;
      width: 20px;
      height: 100%;
      content: ' ';
      transform: skewX(-25deg);
      background-color: $te-lightblue;
      transition: background-color 150ms ease-in-out;
    }

    &::before {
      left: auto;
      right: -10px;
    }

    &:hover {
      background-color: $te-sunfloweryellow;
      text-decoration: none;

      &::before,
      &::after {
        background-color: $te-sunfloweryellow;
      }
    }
  }
}

// used on pageheader
.pageheader-form-button.formbutton-add {

}

// Save and Preview buttons
.formbuttons {
  display: flex;
  align-items: center;

  input {
    border: none;
    background-color: $te-lightblue;
    font-family: $te-font-bold;
    font-size: rem-calc(16);
    padding: 10px 20px;
    display: inline-block;
    height: 44px;
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: $te-sunfloweryellow;
    }
  }

  input[name="wpSave"] {
  }

  input[name="wpPreview"] {
    margin-left: 15px;
  }

  .formEditCancel {
    margin-left: 15px;
    font-family: $te-font-bold;
    font-size: rem-calc(16);

    &:hover {
      a {
        text-decoration: none;
      }
    }
  }
}
