// Styles for bootstrap card
@import '~bootstrap/scss/card';

// The card component extends funcionality from Bootstrap and implements custom styles for The Embassy of Good Science

.card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .card {
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-flow: row;

    .card {
      margin-bottom: 0;
    }
  }
}

.card-grid-4 {
  @include media-breakpoint-up(xl) {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    align-content: center;
    grid-row-gap: 30px;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .card {
    @include media-breakpoint-down(lg) {
      min-width: 320px;
      max-width: 320px;
      margin: 15px;
    }

    @include media-breakpoint-up(lg) {
      min-width: 320px;
      margin: 20px 20px;
    }

    @include media-breakpoint-up(xl) {
      min-width: auto;
      margin: 0;
      grid-column: span 3;
    }

    grid-column: span 12;
  }
}

.card {
  max-width: 320px;
  min-height: 320px;
  border: none;
  border-radius: 0;
  text-decoration: none;
  color: $te-black;
  transition: color 150ms ease-in-out;
  background-color: transparent;

  &:nth-child(2n+1) {
    .card-header::after {
      transform: skewY(-5deg);
    }
  }

  &:hover {
    text-decoration: none;
  }

  a {
    color: $te-black;
    text-decoration: none;

    &:hover {
      color: $te-sunfloweryellow;
      text-decoration: none;
    }
  }

  &.is-themes {
    .card-header {
      a:hover {
        color: $te-blue;
      }
    }
  }
}

.card-header {
  position: relative;
  left: 0;
  overflow: hidden;
  min-height: 150px;
  padding: 40px 40px 50px;
  border-bottom: 0;
  border-radius: 0 !important;
  background-color: $te-lightblue;

  &::after {
    position: absolute;
    z-index: 0;
    bottom: -30px;
    left: 0;
    width: 105%;
    height: 50px;
    content: ' ';
    transform: skewY(5deg);
    background-color: $te-white;
    transition: transform 0.15s ease-in-out;
  }
}

.card-body {
  position: relative;
  background-color: $te-white;
  z-index: 10;
}

.card-title {
  font-family: $te-font-bold;
  font-size: rem-calc(24);
}

.card-text {
  font-size: rem-calc(18);
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 60px;
    height: 60px;
  }
}

.card.is-themes {
  .card-header {
    background-color: $te-sunfloweryellow;
  }
}

// when card grid are inside `wrapper` element
.wrapper .card-grid-4,
.wrapper .card-grid {
  margin-bottom: 50px;
}
