// Styles for bootstrap card
@import '~bootstrap/scss/card';

// The card component extends funcionality from Bootstrap and implements custom styles for The Embassy of Good Science

.card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  position: relative;

  @include media-breakpoint-down(lg) {
    z-index: 0;
  }

  .card {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-flow: row;

    .card {
      margin-bottom: 0;
    }
  }
}

.card-grid-5,
.card-grid-4 {
  @include media-breakpoint-up(xl) {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    align-content: center;
    grid-row-gap: 30px;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .card {
    @include media-breakpoint-down(lg) {
      min-width: 320px;
      max-width: 320px;
      margin: 15px;
    }

    @include media-breakpoint-up(lg) {
      min-width: 320px;
      margin: 20px 20px;
    }

    @include media-breakpoint-up(xl) {
      min-width: auto;
      margin: 0;
      grid-column: span 3;
    }

    grid-column: span 12;
  }
}

.card-grid-5 {
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(16, 1fr);
  }

  .card {
    @include media-breakpoint-up(xl) {
      grid-column: span 4;

      &:nth-child(1) {
        grid-column-start: 3;
        grid-column-end: 7;
      }

      &:nth-child(4) {
        grid-column-start: 5;
        grid-column-end: 9;
      }
    }
  }
}

.card {
  max-width: 320px;
  min-height: 320px;
  border: none;
  border-radius: 0;
  text-decoration: none;
  color: $te-black;
  transition: color 150ms ease-in-out;
  background-color: transparent;

  &:nth-child(2n+1) {
    .card-header::after {
      transform: skewY(-5deg);
    }
  }

  &:hover {
    text-decoration: none;
    color: $te-blue;

    a {
      color: $te-blue;
    }
  }

  a {
    color: $te-black;
    text-decoration: none;

    &:hover {
      color: $te-blue;
      text-decoration: none;
    }
  }

  &.is-themes {
    .card-header {
      a:hover {
        color: $te-blue;
      }
    }
  }
}

.card-header {
  position: relative;
  left: 0;
  overflow: hidden;
  min-height: 150px;
  padding: 40px 40px 50px;
  border-bottom: 0;
  border-radius: 0 !important;
  background-color: $te-lightblue;

  &::after {
    position: absolute;
    z-index: 0;
    bottom: -30px;
    left: 0;
    width: 105%;
    height: 50px;
    content: ' ';
    transform: skewY(5deg);
    background-color: $te-white;
    transition: transform 0.15s ease-in-out;
  }
}

.card-body {
  position: relative;
  background-color: $te-white;
  z-index: 10;
}

.card-title {
  font-family: $te-font-bold;
  font-size: rem-calc(24);
}

.card-text {
  font-size: rem-calc(18);
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 60px;
    height: 60px;
  }
}

.card.is-themes,
.card.is-trainings {
  .card-header {
    background-color: $te-sunfloweryellow;
  }
}

// when card grid are inside `wrapper` element
.wrapper .card-grid-5,
.wrapper .card-grid-4,
.wrapper .card-grid {
  margin-bottom: 50px;
}


// special exceptions for themes and resources page
.page-Training .card-grid,
.page-Resources .card-grid,
.page-Resources .card-grid-5,
.page-Resources .card-grid-4,
.page-Themes .card-grid,
.page-Themes .card-grid-4,
.page-Themes .card-grid-5,
.page-Themes .masonry-columns {
  position: relative;

  @include media-breakpoint-down(lg) {
    z-index: 0;
  }

  &:after {

    position: absolute;
    z-index: -1;
    top: 40px;
    left: 50%;
    width: 100vw;
    height: calc(100% + 110px);
    content: ' ';
    background-color: $te-homepage-background;
    transform: translateX(-50%);

  }


}

//.page-Training .card-grid {
//  @include lightblue-bg-after(40px);
//}

// Trainings landing cards
.card-grid.is-trainings {
  @include media-breakpoint-up(lg) {
    align-items: flex-start;
  }

  .card {
    min-width: 360px;
    max-width: 360px;
    margin-bottom: 25px;
    min-height: auto;

    @include media-breakpoint-up(lg) {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {
      a {
        color: initial;
      }
    }

  }

  .card-header {
    padding: 25px 40px 40px;
    min-height: initial;

    &:after {
      transform: skewY(-3deg) !important
    }

  }

  .card-title {
    font-family: $te-font-extrabold;
    font-size: rem-calc(28);
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left !important;
    }
  }

  .card-body {
    padding: 0 40px 40px;
  }

  .card-text {
    font-size: rem-calc(20);
    line-height: rem-calc(26);
  }

  .cards-wrapper {
    @include media-breakpoint-up(lg) {
      margin-left: 30px;
    }
    // First card, the large one
    &:first-child {
      max-width: 800px;
      margin-left: 0;

      @include media-breakpoint-up(lg) {
        width: 100%;
      }

      .card {
        max-width: none;

        &:hover {
          color: $te-black;

          .Virt2ue-button {
            color: $te-black;
          }

        }

      }

      .card-body {
        padding: 25px;
        @include media-breakpoint-up(lg) {
          padding: 50px 40px;
        }
      }

      .card-header {
        @include media-breakpoint-up(lg) {
          padding-bottom: 15px;

          &:after {
            display: none;
          }
        }
      }

      .card-text {
        display: flex;
        justify-content: flex-start;
        font-size: rem-calc(22);
        line-height: rem-calc(30);

        @include media-breakpoint-down(xl) {
          flex-wrap: wrap;
        }

        @include media-breakpoint-down(lg) {
          flex-direction: column;
        }
      }

      .text-block {
        flex: 1 1 auto;
        max-width: 350px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        & > span {
          display: inline-block;
          width: 230px;
          margin-bottom: 20px;
          font-size: rem-calc(17);
          line-height: unitless-calc(26, 17);

          @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
            font-size: rem-calc(22);
            line-height: unitless-calc(30, 22);
          }


        }
      }

      .training-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;

        @include media-breakpoint-up(lg) {
          margin-top: 25px;
        }
        @include media-breakpoint-up(xl) {
          margin-top: 0;
        }
      }

      .training-link a {
        font-size: rem-calc(17);
        line-height: unitless-calc(31, 17);
        font-family: $te-font-bold;
        color: $te-blue;
        text-decoration: underline;
        margin-bottom: 20px;
        padding-right: 15px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url('data:image/svg+xml,%3Csvg id=\'icon-arrow-right\' width=\'7px\' height=\'11px\' viewBox=\'0 0 6 8\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'%3E%3Cpath d=\'M3.80662838,5.23411402 L1.42748564,7.61325676 L6.07103257e-11,6.18577112 L2.37914274,3.80662838 L2.12139195e-11,1.42748564 L1.42748564,-7.29551974e-11 L5.23411402,3.80662838 L3.80662838,5.23411402 Z\' fill=\'%23567c83\' fill-rule=\'nonzero\'%3E%3C/path%3E%3C/svg%3E%0A');

        @include media-breakpoint-up(lg) {
          margin-bottom: 5px;
          font-size: rem-calc(16);
          line-height: unitless-calc(31, 16);
        }

        &:hover {
          text-decoration: none;
        }

      }

      .guide-link {
        max-width: 285px;
        width: 100%;
        font-family: $te-font-regular;
        color: $te-black;
        font-size: rem-calc(17);
        line-height: unitless-calc(26, 17);
        border-bottom: 1px solid $te-homepage-background;
        padding: 15px 0;
        text-decoration: none;
        background-image: url('data:image/svg+xml,%3Csvg id=\'icon-arrow-right\' width=\'7px\' height=\'11px\' viewBox=\'0 0 6 8\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'%3E%3Cpath d=\'M3.80662838,5.23411402 L1.42748564,7.61325676 L6.07103257e-11,6.18577112 L2.37914274,3.80662838 L2.12139195e-11,1.42748564 L1.42748564,-7.29551974e-11 L5.23411402,3.80662838 L3.80662838,5.23411402 Z\' fill=\'%2378B7C2\' fill-rule=\'nonzero\'%3E%3C/path%3E%3C/svg%3E%0A');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 282px center;

        @include media-breakpoint-up(lg) {
          font-size: rem-calc(20);
          line-height: unitless-calc(31, 20);
          padding: 10px 15px;
          background-position: right center;

        }

        @include media-breakpoint-up(xl) {
          width: 240px;
          background-position: 234px center;
          padding-left: 0;
          padding-right: 0;
        }


        &:hover {
          background-image: url('data:image/svg+xml,%3Csvg id=\'icon-arrow-right\' width=\'7px\' height=\'11px\' viewBox=\'0 0 6 8\' version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'%3E%3Cpath d=\'M3.80662838,5.23411402 L1.42748564,7.61325676 L6.07103257e-11,6.18577112 L2.37914274,3.80662838 L2.12139195e-11,1.42748564 L1.42748564,-7.29551974e-11 L5.23411402,3.80662838 L3.80662838,5.23411402 Z\' fill=\'%23000\' fill-rule=\'nonzero\'%3E%3C/path%3E%3C/svg%3E%0A');
          text-decoration: underline;
        }

      }


      .Virt2ue-button-wrapper {
        flex: 1 0 auto;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include media-breakpoint-up(xl) {
          justify-content: center;
        }


        &.is-mobile {
          display: flex;
          @include media-breakpoint-up(xl) {
            display: none;
          }

          .guide-link {
            max-width: calc(100% - 20px);
            padding-left: 0;
            padding-right: 0;

            &:last-of-type {
              border-bottom: none;
            }
          }
        }

        &.is-desktop {
          display: none;

          @include media-breakpoint-up(xl) {
            display: flex;
          }
        }
      }

      hr {
        width: calc(100% + 50px);
        margin: 0px -25px;
        border-color: $te-homepage-background;
      }


      @include media-breakpoint-up(lg) {
        hr {
          display: none;
        }
      }


      .Virt2ue-button {
        background-repeat: no-repeat;
        background-position: 30px center;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 .3748h19.8152v13.2074H0z'/%3E%3Cpath id='c' d='M0 .0911h16.5127v16.51H0z'/%3E%3Cpath id='e' d='M.2609.1874h12.3845v6.6023H.261z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0 6.2303)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='%23A7D9DC' mask='url(%23b)' d='M16.5127 6.1542h3.3025V.3748h-3.3025z'/%3E%3Cpath fill='%23F5BA59' mask='url(%23b)' d='M0 6.9798l6.605 6.6051V6.98H0'/%3E%3C/g%3E%3Cpath fill='%23F5BA59' d='M16.5127 3.3026L13.21 6.605v5.7794h3.3026V6.6051h3.3025V.0001l-3.3025 3.3025'/%3E%3Cg transform='translate(0 3.2114)'%3E%3Cmask id='d' fill='%23fff'%3E%3Cuse xlink:href='%23c'/%3E%3C/mask%3E%3Cpath fill='%23006C79' mask='url(%23d)' d='M0 .0911v3.3026h6.605L3.3026.091H0'/%3E%3Cpath fill='%23D8BD90' mask='url(%23d)' d='M13.2101 13.3012v3.3026l3.3026-3.3026H13.21'/%3E%3C/g%3E%3Cpath fill='%23D8BD90' d='M0 0v3.3026h3.3025L0 0'/%3E%3Cg transform='translate(7.1698 13.0228)'%3E%3Cmask id='f' fill='%23fff'%3E%3Cuse xlink:href='%23e'/%3E%3C/mask%3E%3Cpath fill='%23A7D9DC' mask='url(%23f)' d='M6.0403.1874v3.3025H9.343L12.6454.1874h-6.605'/%3E%3Cpath fill='%23004B86' mask='url(%23f)' d='M.2609 6.7925h5.7794V.1874H.261z'/%3E%3C/g%3E%3Cpath fill='%23004B86' d='M0 13.2101h6.605v-6.605H0z'/%3E%3C/g%3E%3C/svg%3E");
        font-size: rem-calc(17);
        line-height: unitless-calc(26, 17);

        margin-bottom: 5px;
        padding: 15px 75px 15px 60px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 20px;
          padding: 10px 50px 10px 60px;
          font-size: rem-calc(20);
          line-height: unitless-calc(31, 20);

        }
      }
    }
  }

}
