div#drilldown-header {
  display: flex;
  margin-bottom: 20px;
  font-size: 0 !important;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  * {
    display: none;
  }

  .drilldown-header-value {
    display: inline-flex;
    margin-right: 5px;
    padding: 2px 25px 0 15px;
    font-size: rem-calc(15);
    line-height: 45px;
    color: $te-blue;
    background-color: $te-white;

    ~ a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      margin-right: -10px;
      transform: translateX(-100%);
      font-size: rem-calc(16);
      color: $te-black;
      background-color: $te-white;
      background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 10 10\'%3E%3Cdefs%3E%3Cfilter id=\'a\'%3E%3CfeColorMatrix in=\'SourceGraphic\' values=\'0 0 0 0 0.338841 0 0 0 0 0.488169 0 0 0 0 0.514521 0 0 0 1.000000 0\'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill=\'none\' fill-rule=\'evenodd\' filter=\'url(%23a)\'%3E%3Cg fill=\'%23000\'%3E%3Cpath d=\'M.5197 8.6934l8.397-8.397L9.927 1.3066 1.53 9.7036z\'/%3E%3Cpath d=\'M1.5299.2964l8.397 8.397-1.0102 1.0102-8.397-8.397z\'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 10px;

      &:hover {
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 10 10\'%3E%3Cdefs%3E%3Cfilter id=\'a\'%3E%3CfeColorMatrix in=\'SourceGraphic\' values=\'0 0 0 0 0.054645 0 0 0 0 0.056245 0 0 0 0 0.056527 0 0 0 1.000000 0\'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill=\'none\' fill-rule=\'evenodd\' filter=\'url(%23a)\'%3E%3Cpath fill=\'%23000\' d=\'M8.9168.2964l1.0101 1.0102-3.6932 3.6938 3.6932 3.693-1.0101 1.0102-3.693-3.6932-3.694 3.6932-1.01-1.0102 3.694-3.693-3.694-3.6938 1.01-1.0102 3.694 3.694 3.693-3.694z\'/%3E%3C/g%3E%3C/svg%3E');
      }

      img {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }

  a {
    display: inline-flex;
  }
}

div#drilldown-header + p {
  display: none;
  //margin-bottom: 0;
  //padding: 20px 0 30px;
}

div.drilldown-filters {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}

div.drilldown-filter {
  @include media-breakpoint-up(md) {
    max-width: calc(50% - 15px);
    margin-right: 15px;

    &:nth-child(even) {
      max-width: 50%;
      margin-right: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    max-width: calc(30%);

    &:nth-child(even) {
      max-width: 30%;
      margin-right: 15px;
    }
  }
  @include media-breakpoint-up(xl) {
    max-width: calc(25% - 15px);

    &:nth-child(even) {
      max-width: calc(25% - 15px);
      margin-right: 15px;
    }
  }
  width: 100%;

  .drilldown-filter-values {
    form {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      // submit button
      input[type='submit'] {
        width: 44px;
        height: 44px;
        margin-top: 8px !important;
        margin-left: 20px;
        font-size: 0;
        border: 0;
        background-color: $te-lightblue;
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 19 18\'%3E%3Cpath fill=\'%23000\' fill-rule=\'evenodd\' d=\'M15.3912 16.1264l-3.328-4.1323h.0002l-1.1031-1.37c-.9708 1.0635-2.365 1.7225-3.9045 1.7225a5.445 5.445 0 01-.577-.031c-1.4071-.1519-2.671-.8426-3.5588-1.945-.8876-1.1024-1.293-2.4844-1.1411-3.8916.2908-2.6975 2.552-4.7315 5.2597-4.7315.191 0 .3852.0107.5767.0315 2.905.313 5.0136 2.9314 4.7002 5.8364-.047.4364-.1507.853-.2945 1.249l1.4822 1.0062a7.0388 7.0388 0 00.55-2.0678c.417-3.8693-2.3813-7.3441-6.2503-7.7614a7.1198 7.1198 0 00-.7643-.0415C3.4858-.0001.4309 2.679.0413 6.2916c-.4174 3.869 2.381 7.3443 6.2502 7.7616.2568.0275.512.041.7643.041 1.342 0 2.612-.3835 3.6948-1.0543l3.839 4.7668.0002-.0004v.0004h4.2999v-1.6803h-3.4985z\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 19px 18px;

        &:focus {
          outline: none;
        }
      }
    }

    form .ui-widget {
      float: none;
      width: calc(100% - 60px);
      margin-right: 10px;

      button {
        position: absolute;
        top: 0;
        right: 60px;
        height: 100%;
        border: 0;
        background-color: transparent;
        background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 9 6\'%3E%3Cpath fill=\'%23567C83\' fill-rule=\'nonzero\' d=\'M9 1.6364L4.5 6 2.8125 4.3636 0 1.6364 1.6875 0 4.5 2.727 7.3125 0 9 1.6364z\'/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 9px 6px;
      }
    }

    form input.ui-widget-content {
      float: none;
      width: 100%;
      font-family: $font-family-base;
      font-size: rem-calc(18);
      line-height: unitless-calc(30, 18);
      color: $te-blue;
      border: solid 1px $te-lightblue;
      border-radius: 0;
      background: $te-verylightblue;

      &:focus {
        border: solid 1px $te-blue;
        border-radius: 0;
        outline: none;
      }
    }
  }
}

div.drilldown-filter-label {
  font-family: $font-family-base;
  font-size: rem-calc(18);
  font-style: normal;
  line-height: unitless-calc(30, 18);
  color: $te-blue;
}

// visible state
div#drilldown-header,
div.drilldown-filters {
  &.is-visible {
    opacity: 1;
  }
}

// Styles for UI autocomplete
div.drilldown-filters .drilldown-filter-values form .ui-autocomplete-input {
  &:focus {
    //background-color: $te-white;
  }

  // Hide the arrow link dropdownbutton
  &:focus ~ button {
    transform: scaleY(-1);
  }
}

// Styles from UI dropdown
.ui-menu .ui-menu-item {
  font-family: $font-family-base;
  font-size: rem-calc(18);
  font-style: normal;
  line-height: unitless-calc(30, 18);
  color: $te-black;
  background: $te-verylightblue;

  a {
    color: $te-black;
    font-family: $font-family-base;
    font-size: rem-calc(18);
    line-height: unitless-calc(30, 18);
    padding: 7px 4px;
  }

  strong {
    font-family: $font-headings-bold;
  }

  .ui-state-focus {
    color: $te-black;
    border: 0;
    background: $te-lightblue;
  }
}

ul.ui-menu {
  transform: translateY(-1px);
  border: 1px solid $te-lightblue;
  background: $te-verylightblue;
}
