.footer {
  background-color: $te-lightblue;
  position: relative;
  z-index: 1;

  p {
    margin-bottom: 0;
  }
}

.footer-head {
  position: relative;

  svg {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
  }

  p {
    padding: 40px 0 45px;
    font-family: $te-font-bold;
    font-size: 22px;
    text-align: center;
    color: $te-white;
    border-bottom: solid 1px $te-white;
  }
}

.footer-columns {
  padding: 40px 0 90px;
}

.footer-links {
  @include media-breakpoint-up(lg) {
    height: 130px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 65px;

  a {
    @include media-breakpoint-up(lg) {
      text-align: left;
    }

    font-family: $te-font-bold;
    font-size: rem-calc(16);
    line-height: unitless-calc(40, 16);
    text-align: center;
    color: $te-black;

    &:hover {
      text-decoration: none;
      color: $te-blue;
    }
  }
}

.footer-form {
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  margin-bottom: 50px;
  text-align: center;
}

.footer-social {
  @include media-breakpoint-up(lg) {
    text-align: right;
  }

  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    color: $te-black;

    &:hover {
      color: $te-blue;
    }
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.footer-copyright {
  position: relative;
  background-color: $te-white;

  .flag-eu {
    position: absolute;
    top: 0;
    left: calc(50% - 21px);
    width: 42px;
    transform: translateY(-50%);
  }

  p {
    @include media-breakpoint-up(lg) {
      padding: 35px 0 40px;
    }

    max-width: 500px;
    margin: 0 auto;
    padding: 35px 60px;
    font-size: rem-calc(14);
    line-height: unitless-calc(20, 14);
    text-align: center;
    color: darken($te-lightblue, 25);
  }
}

.mailchimp-heading {
  @include media-breakpoint-up(lg) {
    font-size: rem-calc(26);
  }

  margin: 0 0 10px;
  font-family: $font-headings-bold;
  font-size: rem-calc(22);
}
