.homeblock {
  min-height: 100vh;
  background-image: url('/static/images/background-homeblock-top.png');
  background-position: center center;
  background-size: cover;

  .row {
    height: 100%;
    min-height: 100vh;
  }
}

.homeblock-content {
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  text-align: center;
}

.homeblock-title {
  max-width: 770px;
  @include media-breakpoint-up(lg) {
    font-size: rem-calc(44);
    line-height: unitless-calc(52, 44);
  }

  font-size: rem-calc(34);
  line-height: unitless-calc(42, 34);
}

.homeblock-anchor a {
  font-family: $te-font-bold;
  font-size: rem-calc(18);
  text-decoration: underline;
}

.homeblock.is-header .homeblock-anchor a {
  @include media-breakpoint-up(lg) {
    bottom: 40px;
  }

  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: $te-white;
}

.homeblock.is-header {
  @include media-breakpoint-up(lg) {
    margin-top: -200px;
  }

  margin-top: -60px;
  background-color: $te-white;

  .homeblock-content {
    @include media-breakpoint-up(lg) {
      align-items: flex-end;
    }
  }

  .homeblock-title {
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(96);
      line-height: unitless-calc(116, 96);
      text-align: right;
    }
  }
}
