#gesinn-custom-tabs {
  font-family: $te-font-bold;
  border-bottom: 2px solid $te-boticelli;
  padding-bottom: 10px;
  font-size: rem-calc(17);
  line-height: unitless-calc(31, 17);

  @include media-breakpoint-up(lg) {
    font-size: rem-calc(18);
    line-height: unitless-calc(31, 18);
  }
}

.g-tab-info {
  display: none;
  float: left;
  margin-left: calc(100 / 6 * 1%);
  margin-right: 35px;
  color: $te-blue;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.g-tablinks {
  padding: 20px 40px 17px;
  color: $te-black;

  @include media-breakpoint-up(lg) {
    padding-bottom: 16px;
  }

  &.active {
    border: 2px solid $te-boticelli;
    border-bottom: 2px solid $te-verylightblue;
  }

  &:hover {
    color: $te-black;
    text-decoration: none;
  }
}

