.other-information-wrapper {
  @include media-breakpoint-up(lg) {
    flex-wrap: wrap;
  }
}

.other-information-block {
  @include media-breakpoint-up(lg) {
    display: inline-block;
    width: calc(50% - 20px);
  }

  display: block;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }

  li {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 0;
    font-size: 0;
    background-color: $te-verylightblue;
    background-image: none;

    &:last-child {
      margin-bottom: 5px;
    }
  }

  li a {
    display: block;
    overflow: hidden;
    max-width: 240px;
    padding: 10px 15px;
    font-size: rem-calc(15);
    line-height: unitless-calc(18, 15);
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
      color: $te-blue;
    }
  }

  li.is-hidden {
    display: none;
  }

  li.other-information-last {
    display: none;

    &.is-visible {
      display: block;
    }
  }
}


