.pageheader {
  @include media-breakpoint-up(lg) {
    display: block;
    margin: 0 0 65px;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 65px 0 40px;
}

// Back button
.pageheader-back {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 0;
  }
  display: flex;
  align-items: center;
  font-family: $font-headings-bold;
  font-size: rem-calc(16);
  color: $te-black;

  img,
  svg {
    width: 7px;
    height: 47px;
    margin-right: 10px;
  }

  span {
    transform: translateY(2px);
  }

  &:hover {
    text-decoration: none;
    color: $te-blue;
  }
}

// Special styles for form pages
.pageheader-back.is-forms {
  margin: 65px 0 0;

  @include media-breakpoint-up(lg) {
    position: absolute;
    margin: 0;
    transform: translateX(-150px);
  }
  @include media-breakpoint-up(xl) {
    transform: translateX(-185px);
  }
}

.pageheader-description {
  @include media-breakpoint-up(lg) {
    max-width: 100%;
    font-size: rem-calc(22);
  }
  margin: 0 auto;
  max-width: 400px;

  p:last-child {
    margin-bottom: 0;
  }
}

.pageheader-title {
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: flex-start;
    svg {
      margin-right: 20px;
      transform: translateY(5px);
    }
  }

  svg {
    width: 58px;
    height: 47px;
  }
}

.pageheader-form-button {
  margin-top: 25px;
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }

  button:focus {
    outline: 0;
  }

}

.pageheader-cta {
  background-color: $te-white;
  font-size: rem-calc(18);
  line-height: unitless-calc(22, 18);
  padding: 35px 15px;
  margin: 45px auto 0;
  max-width: 70%;

  @include media-breakpoint-up(lg) {
    padding: 15px 20px 15px;
    max-width: 100%;
  }

  a {
    display: block;
    font-family: $te-font-bold;

    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }
}
