.pageheader {
  @include media-breakpoint-up(lg) {
    //display: block;
    display: grid;
    margin: 0 0 65px;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 65px 0 40px;


  // Grid
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 24px;

}

.pageheader-back {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
}

.pageheader .content {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 1;
  grid-column-end: 12;

  margin-left: 0 !important;

  @include media-breakpoint-up(xl) {
    grid-column-end: 11;
  }

}

// Back button
.pageheader-back {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  display: flex;
  align-items: center;
  font-family: $font-headings-bold;
  font-size: rem-calc(16);
  color: $te-black;
  margin: 10px 0 15px;

  img,
  svg {
    width: 7px;
    height: 47px;
    margin-right: 10px;
  }

  span {
    transform: translateY(2px);
  }

  &:hover {
    text-decoration: none;
    color: $te-blue;
  }
}

// Special styles for form pages
.pageheader-back.is-forms {
  margin: 65px 0 0;

  @include media-breakpoint-up(lg) {
    position: absolute;
    margin: 0;
    transform: translateX(-150px);
  }
  @include media-breakpoint-up(xl) {
    transform: translateX(-185px);
  }
}

.pageheader-description {
  @include media-breakpoint-up(lg) {
    max-width: 100%;
    font-size: rem-calc(22);
  }
  margin: 0 auto;
  max-width: 400px;

  p:last-child {
    margin-bottom: 0;
  }
}

.pageheader-type {
  display: flex;
  padding-top: 10px;
  margin-bottom: 10px;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
    margin-bottom: 25px;
  }
}

.pageheader-type-icon {
  max-width: 24px;
  max-height: 24px;
  stroke: $te-blue;
  color: $te-blue;
  margin-right: 10px
}

.pageheader-type-label {
  font-family: $te-font-bold;
  color: $te-blue;
  font-size: rem-calc(18);
  line-height: unitless-calc(30, 18)
}

.pageheader-title {
  h1 {
    margin-bottom: 5px;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: flex-start;
    svg {
      margin-right: 20px;
      transform: translateY(5px);
    }
    h1 {
      margin-bottom: 30px;
    }
  }

  svg {
    width: 58px;
    height: 47px;
  }
}

.pageheader-form-button {
  margin: 25px auto 0;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
  }

  button:focus {
    outline: 0;
  }

}

.pageheader-cta {
  background-color: $te-white;
  font-size: rem-calc(18);
  line-height: unitless-calc(22, 18);
  padding: 35px 15px;
  margin: 45px auto 0;


  @include media-breakpoint-up(lg) {
    padding: 15px 20px 15px;
    max-width: 100%;
  }

  a {
    display: block;
    font-family: $te-font-bold;

    @include media-breakpoint-up(lg) {
      display: inline;
    }
  }
}
