.related-resource {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba($te-blue, 0.2);

  &:last-child {
    margin-bottom: 0;
  }
}

.related-resource-category {
  display: flex;
  align-items: center;
  font-family: $te-font-bold;
  font-size: rem-calc(16);
  color: $te-blue;
  line-height: 30px;
  margin-bottom: 10px;

  .related-resource.is-caseStudies & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 13'%3E%3Cpath fill='%23567C83' fill-rule='evenodd' d='M14.4271 13H0L.0136 0h8.0376l1.043 1.2444a.1439.1439 0 00.111.0513h7.0296v1.4336H9.2052c-.4942 0-.9561-.2127-1.2665-.5837l-.597-.712H1.498l-.0107 10.1329H14.427a.1428.1428 0 00.136-.0956l1.9456-5.6842c.0173-.0514-.0021-.0938-.0215-.1197a.1393.1393 0 00-.1156-.057H3.9068V4.1765h12.4648c.5195 0 1.0121.242 1.3176.6475.3054.4057.392.9323.2317 1.409l-1.9457 5.6842C15.7576 12.5635 15.135 13 14.427 13'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left top 7px;
    background-size: 18px 13px;
    padding-left: 30px;
  }

  .related-resource.is-experts & {
    background-repeat: no-repeat;
    background-position: left top 4px;
    background-size: 13px 18px;
    padding-left: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 18'%3E%3Cpath fill='%23567C83' fill-rule='evenodd' d='M6.8646 12.7458c3.232-.1735 5.8607-2.6896 6.115-5.8525.1505-1.872-.5358-3.7035-1.8833-5.0256C9.7491.546 7.8822-.1286 5.9746.0203 2.7516.2698.1874 2.849.0099 6.0195c-.0218.39-.0076.7823.0417 1.166l1.697-.211a4.72 4.72 0 01-.0308-.863c.1307-2.3352 2.0186-4.2346 4.3915-4.4183 1.4079-.1087 2.7848.3872 3.7777 1.3615.9928.974 1.4984 2.325 1.3874 3.7066-.187 2.3284-2.123 4.1808-4.5034 4.3088-1.1387.0604-2.2636-.2753-3.1654-.9476l-.352-.2622-1.608.7378.0002 5.563c0 .7183.4114 1.3546 1.0735 1.6609.2581.1193.5313.178.8022.178.4112 0 .8168-.1352 1.155-.3977l1.276-.9591.0571-.0424c.2844-.2303.6966-.2301.981-.0002l1.3329 1.0015c.5612.4357 1.3074.5207 1.9572.2197.6623-.3061 1.0737-.9426 1.0737-1.6609V13.929l-1.7105.7664v1.4894c0 .0248 0 .1-.0923.1427-.0926.0421-.1516-.0055-.171-.021l-1.3317-.9363c-.9037-.7088-2.1936-.7088-3.0976 0l-1.2748.894-.0568.0425c-.0195.0155-.078.0642-.1713.0208-.0921-.0426-.0921-.118-.0921-.1425l-.0003-4.2246c1.0631.5756 2.2788.8498 3.5086.7854'/%3E%3C/svg%3E");
  }
}

.related-resource-title {
  margin-bottom: 15px;
  font-size: rem-calc(18);
  line-height: unitless-calc(24, 18);
}

.related-resource-navigation {
  // this was added in case it isn't possible to add hyperlink as element
  // in the project and in SMW sometimes we use divs with the te-link module so we can open
  // pages in a different way
  & > * {
    color: $te-black;
    font-size: rem-calc(14);
    font-family: $te-font-bold;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: $te-black;
      text-decoration: none;
    }
  }
}

.resource-link,
.resource-info {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;

  color: $te-black;

  a[href].external,
  a[href].new,
  a {
    color: $te-black;
  }

}

.resource-link {
  background-size: 11px 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 12'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M4.1829.281v1.615h-2.568v7.7703h7.7703V7.0982H11v4.1829H0v-11h4.1829zM11 .281v5.1132H9.2793V3.2185L5.2167 7.281 4 6.0644l4.0626-4.0626H5.887V.281H11z'/%3E%3C/svg%3E");
}

.resource-info {
  padding-left: 10px;
  margin-left: 20px;
  background-size: 5px 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 13'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M1.411 12.281V6.365H.323v-1.87h3.298v6.111l1.0868.0004v1.6747H1.411zM2.414.381c.595 0 .595 0 1.0115.4166.4165.4165.4165.4165.4165 1.0115 0 .595 0 .595-.4165 1.003-.4165.408-.4165.408-1.0115.408-.595 0-.595 0-1.003-.408-.408-.408-.408-.408-.408-1.003s0-.595.4165-1.0115C1.836.381 1.836.381 2.414.381z'/%3E%3C/svg%3E");
}

.related-resources-seeMore {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 6'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M0 1.5957L1.5957 0l2.6598 2.66L6.9148 0l1.5957 1.5957-2.66 2.6593.0004.0002L4.2552 5.851 0 1.5957z'/%3E%3C/svg%3E");
  background-position: right center;
  background-size: 9px 6px;
  background-repeat: no-repeat;
  padding-right: 17px;
  font-family: $te-font-bold;
  font-size: rem-calc(16);
  color: $te-black;
  display: inline-flex;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
