// wrapper of resources block
.resources-list {
  margin: 30px 0;
}

.resources-list-wrapper {
  margin-bottom: 150px;
}

.resources-list-count {
  display: flex;
  font-family: $te-font-regular;
  color: $te-blue;

  span {
    font-family: $te-font-bold;
  }

}

.resources-list-count-container {
  margin-left: auto;
  margin-top: 25px;
}

// styles for resource block
.resource-block {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 24px;
  }
  margin-bottom: 20px;
  padding: 30px;
  background-color: $te-white;
}

.resource-block-container {
  @include media-breakpoint-up(md) {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 12;
    grid-area: 1 / 2 / 2 / 12;
  }

  @include media-breakpoint-up(lg) {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 11;
    grid-area: 1 / 3 / 2 / 11;
  }
}

.resource-block-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: $font-headings-bold;
  text-transform: capitalize;
  color: $te-blue;
}

.resource-block-icon {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

.resource-block-title {
  @include media-breakpoint-up(lg) {
    font-size: rem-calc(28);
    line-height: unitless-calc(40, 28);
  }
  margin-bottom: 10px;
  font-family: $font-headings-bold;
  font-size: rem-calc(20);
  line-height: unitless-calc(26, 20);

  a {
    color: $te-black;

    &:hover {
      color: $te-black;
    }
  }
}

.resource-block-authors {
  margin-bottom: 20px;
  color: $te-blue;
}

.resource-block-navigation {
  & > * {
    font-family: $te-font-bold;
    font-size: rem-calc(14);
    text-decoration: underline;
    color: $te-black;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $te-black;
    }
  }
}

.resource-block-link,
.resource-block-info {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.resource-block-link {
  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 11 12\'%3E%3Cpath fill=\'%23000\' fill-rule=\'nonzero\' d=\'M4.1829.281v1.615h-2.568v7.7703h7.7703V7.0982H11v4.1829H0v-11h4.1829zM11 .281v5.1132H9.2793V3.2185L5.2167 7.281 4 6.0644l4.0626-4.0626H5.887V.281H11z\'/%3E%3C/svg%3E');
  background-size: 11px 12px;
}

.resource-block-info {
  margin-left: 20px;
  padding-left: 10px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 5 13\'%3E%3Cpath fill=\'%23000\' fill-rule=\'evenodd\' d=\'M1.411 12.281V6.365H.323v-1.87h3.298v6.111l1.0868.0004v1.6747H1.411zM2.414.381c.595 0 .595 0 1.0115.4166.4165.4165.4165.4165.4165 1.0115 0 .595 0 .595-.4165 1.003-.4165.408-.4165.408-1.0115.408-.595 0-.595 0-1.003-.408-.408-.408-.408-.408-.408-1.003s0-.595.4165-1.0115C1.836.381 1.836.381 2.414.381z\'/%3E%3C/svg%3E');
  background-size: 5px 13px;
}
