.wrapper {
    overflow: hidden;
    @include media-breakpoint-up(lg) {
        overflow: visible;
    }
}

.sidebar {
    @include media-breakpoint-up(lg) {
        padding-top: 0;
    }

    position: relative;
    min-height: 100%;
    padding: $grid-gutter-width/2 0;
    background-color: $te-verylightblue;

    &::after {
        @include media-breakpoint-up(lg) {
            left: -55px;
            display: block;
            height: calc(100% + 400px);
            transform: translateY(-400px);
        }
        @include media-breakpoint-up(md) {
            left: -40px;
        }

        position: absolute;
        z-index: -1;
        top: 0;
        left: -60px;
        min-width: 150vw;
        height: 100%;
        content: ' ';
        background-color: $te-verylightblue;
    }
}
