.steps-foldout {
  position: relative;
  margin: 0 0 45px;
  background-color: $te-homepage-background;
  font-family: $te-font-bold;
  font-size: rem-calc(18);
  line-height: unitless-calc(30, 18);

}

.steps-foldout-toggle {
  width: 100%;
  margin-bottom: 0;
  padding: 15px 40px 15px 80px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.6595 4.2552L0 1.5957 1.5957 0l2.6595 2.6595L6.9148 0l1.5957 1.5957L4.2552 5.851 2.6595 4.2552z' fill='currentColor'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) center;

  &:before {
    content: ' ';
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='b' d='M0 .0517h2.0247v2.0245H0z'/%3E%3Cpath id='d' d='M0 .0511h2.0247v2.0247H0z'/%3E%3Cpath id='f' d='M0 .0507h2.0247v2.0246H0z'/%3E%3Cfilter id='a'%3E%3CfeColorMatrix in='SourceGraphic' values='0 0 0 0 0.338841 0 0 0 0 0.488169 0 0 0 0 0.514521 0 0 0 1.000000 0'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(-40 -22)' filter='url(%23a)' fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23000' d='M43.819 29.5837h11.6197v-1.6141H43.8189zM43.819 24.0499h11.6197v-1.614H43.8189zM43.8189 33.5036v.0318h-.0256v1.614H55.413v-.0319h.0256v-1.614z'/%3E%3Cg transform='translate(40 22.179)'%3E%3Cmask id='c' fill='%23fff'%3E%3Cuse xlink:href='%23b'/%3E%3C/mask%3E%3Cpath d='M1.0124.0516C.4532.0516 0 .5049 0 1.0639c0 .559.4533 1.0123 1.0125 1.0123.559 0 1.0123-.4534 1.0123-1.0123 0-.559-.4533-1.0123-1.0123-1.0123' fill='%23000' mask='url(%23c)'/%3E%3C/g%3E%3Cg transform='translate(40 27.7134)'%3E%3Cmask id='e' fill='%23fff'%3E%3Cuse xlink:href='%23d'/%3E%3C/mask%3E%3Cpath d='M1.0124.0511C.4532.0511 0 .5045 0 1.0634c0 .559.4533 1.0124 1.0125 1.0124.559 0 1.0123-.4534 1.0123-1.0124 0-.559-.4533-1.0123-1.0123-1.0123' fill='%23000' mask='url(%23e)'/%3E%3C/g%3E%3Cg transform='translate(40 33.2477)'%3E%3Cmask id='g' fill='%23fff'%3E%3Cuse xlink:href='%23f'/%3E%3C/mask%3E%3Cpath d='M1.0124.0507C.4532.0507 0 .504 0 1.063c0 .559.4533 1.0123 1.0125 1.0123.559 0 1.0123-.4534 1.0123-1.0123 0-.559-.4533-1.0123-1.0123-1.0123' fill='%23000' mask='url(%23g)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 21px;
    left: 40px;
  }

  &:hover {
    cursor: pointer;
  }

  .is-open & {
    border-bottom: 1px solid rgba($te-blue, 0.2);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.1807 4.585L7.585 6.1807l-2.6598-2.66-2.6593 2.66L.6702 4.585l2.66-2.6593-.0004-.0002L4.9255.3298 9.1807 4.585z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");
  }

}

.steps-foldout-content {
  display: none;

  .is-open & {
    display: block;
  }

  padding: 35px 40px 10px;

  a {
    color: $te-black;

    &:hover {
      color: $te-black;
    }
  }

  span {
    color: $te-blue;
    background-color: $te-lightblue;
    padding: 5px 7px 0;
    margin-right: 10px;
  }

}

.steps-foldout-step {
  margin-bottom: 14px;

}
