.summary-block {
  margin: 45px 0;
  padding: 40px 30px 10px 30px;
  background-color: $te-homepage-background
}

.summary-block-container {
  display: flex;
  flex-wrap: wrap;
}

.summary-item {
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 18px;
  width: 50%;

  &[data-property="Instruction Goal"],
  &.summary-item--goal {
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 18' enable-background='new 0 0 15 18'%3E%3Cdefs%3E%3Cfilter id='a' filterUnits='userSpaceOnUse' x='0' y='0' width='14.9' height='17.9'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='14.9' height='17.9' id='b'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23fff' d='M0 0h14.9v17.9H0z'/%3E%3C/g%3E%3C/mask%3E%3Cpath d='M14.9 10.3c-.1.3-.5.6-.9.6H3.7V9.2h8.4L8.8 6 12 2.9H1.7v14.9H0V0h1.7v1.3h12.2c.4 0 .7.2.9.6.1.3.1.7-.2 1L11.2 6l3.4 3.3c.3.3.4.7.3 1' mask='url(%23b)' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3C/svg%3E");
  }

  &[data-property="Has Requirements"],
  &.summary-item--requirements {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 18 16' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23567c83%7D%3C/style%3E%3Cg id='icon---small---requirements'%3E%3Cg id='Group-3'%3E%3Cpath id='Fill-1' class='st0' d='M0 0v15.9h15.9v-5.3h1.3V8.9h-3v5.3H1.7V1.7h6.5V0z'/%3E%3Cpath id='Fill-2' class='st0' d='M8.2 11L4.1 6.9l1.2-1.2 2.9 2.9 7.3-7.4 1.2 1.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    background-position-y: 6px;
  }

  &[data-property="Has Duration"],
  &.summary-item--duration {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 18' enable-background='new 0 0 19 18'%3E%3Cpath d='M8.5 4.1v4.5c0 1 .9 1.9 1.9 1.9H13V8.9h-2c-.3 0-.5-.2-.5-.5V4.1h-2z' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3Cg transform='translate(0 .1867)'%3E%3Cdefs%3E%3Cfilter id='a' filterUnits='userSpaceOnUse' x='0' y='0' width='18.3' height='16.5'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='18.3' height='16.5' id='b'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23fff' d='M0 0h18.3v16.6H0z'/%3E%3C/g%3E%3C/mask%3E%3Cpath d='M10 0C6.4 0 3.3 2.4 2.2 5.7l1.8.5c.7-2.6 3.1-4.4 6-4.4 3.7 0 6.4 3 6.4 6.6 0 3.7-2.7 6.6-6.4 6.6-3.5 0-6.1-2.8-6.3-6.2H0v1.6h2c.9 3.6 4.1 6.2 8 6.2 4.6 0 8.3-3.7 8.3-8.3C18.3 3.8 14.6 0 10 0' mask='url(%23b)' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3C/g%3E%3C/svg%3E");
    background-position-y: 6px;
  }

  &[data-property="Has Participants"],
  &.summary-item--participants {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 20 18' xml:space='preserve' enable-background='new 0 0 20 18'%3E%3Cstyle%3E.st1,.st3%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23fff%7D.st3%7Bfill:%23567c83%7D%3C/style%3E%3Cg id='icon---small---participants'%3E%3Cg id='Group-11'%3E%3Cg id='Group-3' transform='translate(.8547 .0237)'%3E%3Cdefs%3E%3Cfilter id='Adobe_OpacityMaskFilter' filterUnits='userSpaceOnUse' x='0' y='.2' width='18' height='9.1'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='.2' width='18' height='9.1' id='mask-3_1_'%3E%3Cg filter='url(%23Adobe_OpacityMaskFilter)'%3E%3Cpath id='path-2_1_' class='st1' d='M0 .2h18v9.1H0z'/%3E%3C/g%3E%3C/mask%3E%3Cpath id='Fill-1' d='M9 1.7c1.7 0 3.1 1.4 3.1 3.1s-1.4 3-3.1 3-3.1-1.3-3.1-3S7.3 1.7 9 1.7M3.3 9.3c.4 0 .8-.1 1.2-.2l-.6-1.4c-.6.3-1.4.1-1.9-.4-.7-.7-.7-1.8 0-2.5s1.7-.7 2.4-.1v.1c0 2.5 2 4.6 4.6 4.6s4.6-2 4.6-4.6v-.1c.7-.6 1.7-.5 2.4.1.7.7.7 1.8 0 2.5-.5.5-1.3.7-2 .4l-.5 1.4c.4.1.8.2 1.2.2.9 0 1.7-.3 2.3-1 1.3-1.3 1.3-3.4 0-4.7-1-1-2.5-1.2-3.8-.6C12.6 1.4 10.9.2 9 .2 7.1.2 5.4 1.4 4.8 3.1 3.5 2.5 2 2.7 1 3.7-.3 5-.3 7.1 1 8.4c.6.6 1.4.9 2.3.9' mask='url(%23mask-3_1_)' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3C/g%3E%3Cpath id='Fill-4' class='st3' d='M4.4 11H1.6L0 14.9l1.4.6 1.2-3h1.8z'/%3E%3Cg id='Group-8' transform='translate(3.846 9.8521)'%3E%3Cdefs%3E%3Cfilter id='Adobe_OpacityMaskFilter_1_' filterUnits='userSpaceOnUse' x='0' y='.1' width='11.8' height='7.6'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='.1' width='11.8' height='7.6' id='mask-5_1_'%3E%3Cg filter='url(%23Adobe_OpacityMaskFilter_1_)'%3E%3Cpath id='path-4_1_' class='st1' d='M0 .1h11.9v7.6H0z'/%3E%3C/g%3E%3C/mask%3E%3Cpath id='Fill-6' d='M8.5.1h-5C2.8.1 2.2.5 2 1.2l-2 6 1.4.5 2-6h4.9l1.9 6 1.4-.5-1.9-6C9.7.6 9.1.1 8.5.1' mask='url(%23mask-5_1_)' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3C/g%3E%3Cpath id='Fill-9' class='st3' d='M18.1 11h-2.8v1.5h1.8l1.2 3 1.4-.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 20px;
  }

  &[data-property="Important For"],
  &.summary-item--forwhom {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 18' enable-background='new 0 0 15 18'%3E%3Cpath d='M7.6 9.7c-2.7 0-4.9-2.2-4.9-4.9 0-.5.1-1 .2-1.5l1.5.5c-.1.3-.2.7-.2 1 0 1.8 1.5 3.3 3.3 3.3s3.3-1.5 3.3-3.3c0-1.8-1.5-3.3-3.3-3.3H4.1V0h3.5c2.7 0 4.9 2.2 4.9 4.9 0 2.6-2.2 4.8-4.9 4.8' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3Cg transform='translate(0 10.6586)'%3E%3Cdefs%3E%3Cfilter id='a' filterUnits='userSpaceOnUse' x='0' y='.1' width='14.3' height='6.8'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='.1' width='14.3' height='6.8' id='b'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23fff' d='M0 .1h14.3v6.8H0z'/%3E%3C/g%3E%3C/mask%3E%3Cpath d='M2.6 6.9H0V5.4h1.4l1.2-4C2.8.7 3.5.2 4.2.2h6.9c.8 0 1.4.5 1.6 1.2l1.5 5-1.5.4-1.5-5c0-.1-.1-.1-.1-.1H4.3c-.1 0-.1 0-.1.1L2.6 6.9z' mask='url(%23b)' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 15px;
  }

  &[data-property="Has Method"],
  &.summary-item--method {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 23' enable-background='new 0 0 16 23'%3E%3Cg transform='translate(1 1)'%3E%3Cdefs%3E%3Cfilter id='a' filterUnits='userSpaceOnUse' x='0' y='0' width='14' height='19.6'%3E%3CfeColorMatrix values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='19.6' id='b'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23fff' d='M0 0h14v19.6H0z'/%3E%3C/g%3E%3C/mask%3E%3Cpath d='M7.3 0c-2-.1-3.8.6-5.2 2C.8 3.3 0 5.1 0 7c0 1.5.5 2.9 1.3 4.1l.2.3c.8 1.1 1.1 1.5 1.2 2.8l.4 2.8H10v1.3H3.4v1.4h7.9l.1-4H7.7V9.5l2.1-1.3L9.1 7 7 8.3 5.1 7.1l-.8 1.1 2 1.3v6.1h-2l-.2-1.5c-.1-1.7-.6-2.4-1.5-3.5l-.2-.3c-.7-1-1-2.1-1-3.3 0-1.5.6-3 1.7-4 1.1-1.1 2.6-1.6 4.1-1.6 3 .1 5.4 2.6 5.4 5.6 0 1.1-.3 2.3-1 3.2-.2.3-.4.5-.5.7-.6.8-1.1 1.5-1.2 2.9l1.4.1c.1-1.1.4-1.4 1-2.2.2-.2.4-.5.6-.8C13.6 9.8 14 8.4 14 7c0-3.7-3-6.9-6.7-7' mask='url(%23b)' fill-rule='evenodd' clip-rule='evenodd' fill='%23567c83'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 16px;
    background-position-y: 0
  }

  &[data-property="Important For"],
  &[data-property="Has Method"] {
    font-size: rem-calc(30);
    line-height: unitless-calc(30,18);

    .label-tag {
      margin: 0;
      a {
        background-color: transparent !important;
        padding: 0 !important;
        pointer-events: none !important;

        &:after {
          content: ',';
        }
      }

      &:last-child {
        a:after {
          display: none;
        }
      }
    }
  }

}

.summary-item--small {
  width: 50%;
}

.summary-item-title {
  font-family: $te-font-bold;
  font-size: rem-calc(18);
  padding-left: 25px;
  margin-bottom: 5px
}

.summary-item-content {
  font-size: rem-calc(18);
  line-height: unitless-calc(30, 18)
}

.summary-block-initive {
  display: flex;
  align-items: center;
  font-family: $te-font-bold;
  font-size: rem-calc(15);
  line-height: unitless-calc(19, 15);
  color: $te-blue;
  width: 100%;
  margin-left: auto;
  margin-bottom: 15px;
  padding-top: 20px;

  border-top: 1px solid rgba($te-blue, 0.2);

  span {
    margin-right: 10px;
  }

  & ~ .summary-block-initive {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    span {
      opacity: 0;
    }
  }

  a.image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    * {
      max-width: 25px;
      max-height: 25px;
    }
  }

  a {
    padding: 10px 0;
    background-repeat: no-repeat;
    background-position: left 5px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $te-blue;
    }
  }
}


