// Overwrite MediaWiki styles or use its classnames to add styles
.mw-body {
  margin-bottom: 0;
  padding: 0;
}

body.page-Main_Page {
  background-color: $te-verylightblue;
}

// Styles on content generic area
.content.mw-body .bodyContent,
.content {

  p {
    &:empty,
    &:blank{
      margin-bottom: 0;
    }
  }

  // Some form adjustments
  textarea,
  input {
    max-width: 100%;
  }

  .panel-heading {
    font-size: rem-calc(30);
    line-height: rem-calc(52);
  }

  form {
    ul li {
      margin-bottom: 0;
      background: transparent;
    }

    .sfFieldLabel {
      margin-bottom: 5px;
      font-family: $te-font-bold;
      font-size: rem-calc(20);
      line-height: unitless-calc(32, 20);
    }

    .radioButtonItem {
      margin-right: 15px;
    }
  }

  .label-tag {
    display: inline-flex;
    margin-bottom: 5px;
    margin-right: 7px;
    font-size: rem-calc(16);

    a {
      color: $te-black;
      padding: 5px 10px;
      background-color: $te-verylightblue;

      &:hover {
        background-color: $te-sunfloweryellow;
        text-decoration: none;
        color: $te-black;
      }
    }
  }

  figure img,
  img {
    max-width: 100%;
    height: auto;
  }
}

.generic-content-break {
  position: relative;
  order: 3;
  padding: 30px 0 0 0;
  margin: 30px 0 90px;

  > *:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 55px 0 35px 0;
    margin-bottom: 90px;
  }

  &:before {
    position: absolute;
    z-index: -1;
    transform-origin: top left;
    width: 150vw;
    height: calc(100% + 60px);
    content: ' ';
    transform: skewY(-2.8deg) translateX(-40vw) translateY(-35px) ;
    background-color: $te-verylightblue;

    @include media-breakpoint-up(lg) {
      transform: skewY(-2.8deg) translateX(-40vw) translateY(-65px) ;
    }
  }
}
