// Overwrite MediaWiki styles or use its classnames to add styles
.mw-body {
  margin-bottom: 0;
  padding: 0;
}

// Special pages background colours
body.page-Main_Page,
body.page-Special_Search {
  background-color: $te-verylightblue;
}


// Styles on content generic area
.content.mw-body .bodyContent,
.content {
  p {
    &:empty,
    &:blank {
      margin-bottom: 0;
    }
  }

  // Some form adjustments
  textarea,
  input {
    max-width: 100%;
  }

  p + ul {
    @include media-breakpoint-up(lg) {
      margin-top: -25px;
      margin-bottom: 35px;
    }
  }

  .panel-heading {
    font-size: rem-calc(30);
    line-height: rem-calc(52);
  }

  form {
    ul li:not(.ve-ce-branchNode) {
      margin-bottom: 0;
      background: transparent;
    }

    .sfFieldLabel {
      margin-bottom: 5px;
      font-family: $te-font-bold;
      font-size: rem-calc(20);
      line-height: unitless-calc(32, 20);
    }

    .radioButtonItem {
      margin-right: 15px;
    }
  }

  .label-tag {
    display: inline-flex;
    margin-right: 7px;
    margin-bottom: 5px;
    font-size: rem-calc(16);

    a {
      padding: 5px 10px;
      color: $te-black;
      background-color: $te-verylightblue;
      pointer-events: none;
      /*
      &:hover {
        text-decoration: none;
        color: $te-black;
        background-color: $te-sunfloweryellow;
      }
       */
    }
  }

  figure img,
  img {
    max-width: 100%;
    height: auto;
  }
}

.generic-content-break {
  @include media-breakpoint-up(lg) {
    margin-bottom: 90px;
    padding: 55px 0 35px 0;
  }
  position: relative;
  order: 3;
  margin: 50px 0 90px;
  padding: 30px 0 0 0;

  > *:last-child {
    margin-bottom: 0;
  }

  &:before {
    @include media-breakpoint-up(lg) {
      transform: skewY(-2.8deg) translateX(-50%) translateY(-80px);
    }
    position: absolute;
    left: 50%;
    z-index: -1;
    width: 100vw;
    height: calc(100% + 60px);
    content: ' ';
    transform: skewY(-2.8deg) translateX(-50%) translateY(-50px);
    transform-origin: top left;
    background-color: $te-homepage-background;
  }
}

// Search suggestions
.suggestions {
  .suggestions-special {
    padding: 0 25px 10px;
    border-top: none;
    background-color: $te-white;

    .special-label,
    .special-query {
      color: $te-black;
    }

    .special-label {
      padding-top: 10px;
      border-top: solid 1px rgba($te-black, .24);
    }

    .special-query {
      font-family: $font-headings-bold;
    }

    &.suggestions-result-current {
      .special-label,
      .special-query {
        color: $te-blue;
      }
    }
  }

  // added here to overwrite
  .suggestions-results {
    padding: 10px 25px;
    border-bottom: none;
  }
}

.suggestions-results {
  a {
    .suggestions-result {
      margin-bottom: 15px;
    }

    .suggestions-result-current {
      color: $te-blue;
      background-color: transparent;
    }

    &:last-child {
      .suggestions-result {
        margin-bottom: 0;
      }
    }
  }
}

// Search heading
body.page-Special_Search {
  #content .contentHeader {
    display: block;

    .firstHeading {
      @include media-breakpoint-up(lg) {
        margin-top: 0;
        padding: 0 50px;
      }
      @include media-breakpoint-up(xl) {
        padding: 0 160px;
      }
      display: block;
      margin-top: 60px;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

// Form in search page
form#search {
  @include media-breakpoint-up(lg) {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 40px;
  }

  &::after {
    clear: both;
  }

  .mw-search-profile-tabs {
    display: none;
  }

  #mw-search-top-table {
    display: flex;
    flex-direction: column;
    align-items: center;

    // target the div element that wraps the input
    div:first-child {
      float: none;

      .oo-ui-fieldLayout-header {
        display: none !important;
      }

      input[type='search'] {
        padding: 20px;
        color: $te-blue;
        border: solid 1px $te-lightblue;
        border-radius: 0;
        background: none;

        & ~ .oo-ui-icon-search {
          display: none;
        }

        & ~ .oo-ui-indicator-clear {
          max-height: 100%;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M8.9168.2964l1.0101 1.0102-3.6932 3.6938 3.6932 3.693-1.0101 1.0102-3.693-3.6932-3.694 3.6932-1.01-1.0102 3.694-3.693-3.694-3.6938 1.01-1.0102 3.694 3.694 3.693-3.694z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 10px;
        }

        &:focus {
          border-color: $te-blue;
          box-shadow: none;
        }
      }
    }

    button[type='submit'] {
      width: 60px;
      height: 60px;
      max-height: 100%;
      border: 0;
      border-radius: 0;
      background-color: $te-lightblue;
      background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 19 18\'%3E%3Cpath fill=\'%23000\' fill-rule=\'evenodd\' d=\'M15.3911 16.1265l-3.328-4.1323h.0003l-1.1031-1.37c-.9708 1.0636-2.365 1.7225-3.9045 1.7225a5.445 5.445 0 01-.577-.031c-1.4072-.1519-2.671-.8426-3.5589-1.945-.8875-1.1024-1.293-2.4844-1.141-3.8916.2908-2.6974 2.552-4.7315 5.2597-4.7315.191 0 .3851.0108.5767.0315 2.905.313 5.0136 2.9314 4.7002 5.8364-.047.4365-.1508.8531-.2945 1.249l1.4822 1.0062a7.0388 7.0388 0 00.55-2.0678c.417-3.8693-2.3813-7.344-6.2503-7.7614A7.1198 7.1198 0 007.0386 0C3.4857 0 .4308 2.6793.0412 6.2917c-.4173 3.869 2.381 7.3443 6.2503 7.7617.2568.0275.512.041.7643.041 1.342 0 2.6119-.3836 3.6947-1.0544l3.839 4.7668.0003-.0004v.0004h4.2999v-1.6803H15.391z\'/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 19px 18px;

      .oo-ui-labelElement-label {
        font-size: 0;
      }
    }

    .results-info {
      @include media-breakpoint-up(lg) {
        align-self: flex-end;
      }
      align-self: center;
      margin-top: 30px;
    }
  }
}

// search results
.searchresults {
  .mw-search-createlink {
    display: none;
  }

  .mw-search-results {
    width: 100%;
    max-width: none;
    margin-bottom: 40px;
    list-style: none;

    li {
      @include media-breakpoint-up(lg) {
        padding: 35px 50px;
      }
      @include media-breakpoint-up(xl) {
        padding: 50px 160px;
      }
      padding: 30px;
      background: $te-white;

      .mw-search-result-heading {
        font-family: $font-headings-bold;
        font-size: rem-calc(24);
        color: $te-black;

        a {
          font-family: $font-headings-bold;
          text-transform: none;
          color: $te-black;
        }
      }

      .searchresult {
        margin: 15px 0 0;
      }

      .searchmatch {
        font-family: $font-headings-bold;
      }

      .mw-search-result-data {
        margin-top: 20px;
        font-size: rem-calc(16);
        color: $te-blue;
      }

      table.searchResultImage {
        width: 100%;

        a {
          font-family: $font-headings-bold;
          font-size: rem-calc(24);
          text-transform: none;
          color: $te-black;
        }

        td {
          &:first-child {
            position: absolute;
            width: 50px !important;
          }

          &:nth-child(2) {
            padding-left: 60px;
          }
        }
      }
    }
  }

  .mw-search-pager-bottom {
    @include media-breakpoint-up(lg) {
      padding: 0 50px;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 160px;
    }
    padding: 0 30px;
    font-size: rem-calc(18);

    a {
      color: $te-blue;

      &:hover {
        color: $te-blue;
      }
    }
  }
}

// overlay from search
.oo-ui-menuSelectWidget {
  border-color: $te-lightblue;
  box-shadow: none;
}

body {
  &.page-Contributors,
  &.page-Founders,
  &.page-Guides,
  &.page-Guide,
  &.page-Instructions,
  &.mw-special-BrowseData,
  &.page-Special_BrowseData_Theme,
  &.page-Special_BrowseData_Resources,
  &.page-Special_BrowseData_Instruction {
    background-color: $te-homepage-background
  }
}

.page-Themes,
.page-Resources,
.page-Training {
  .wrapper.container {
    padding-bottom: 100px;
  }
}


