---
title: The Embassy of Good Science - Components Library
description:
url: https://components.embassy.science
---
<!doctype html>
<html lang="en">
<head>
    {% include '../_head.njk' %}
</head>
<body>

<nav class="navbar sticky-top navbar-light">
    <a class="navbar-brand" href="/"><img src="/static/images/the-embassy-logo-white.png" width="50" /></a>
</nav>

<div class="container-fluid">
    <div class="row">
        {% include '../components/sidebar.njk' %}

        <main class="te-content col-md-9 col-xl-10">
            {{ content | safe }}
        </main>
    </div>
</div>

<script type="text/javascript" src="{{ assets['vendors.js'] }}"></script>
<script type="text/javascript" src="{{ assets['main.js'] }}"></script>
</body>
</html>
