{# Extends the sidebar layout #}
{% extends "../_includes/layouts/sidebar.njk" %}

{% block content %}

    <h1>About</h1>

    <h2 id="our-mission">Our Mission</h2>

    <p>The goal of The Embassy of Good Science is to promote research integrity among all those involved in research. The platform is open to anyone willing to learn or support others in fostering understanding and awareness around Good Science.</p>

    <p>The Embassy aims to become a unique ‘go to’ place, a public square where the community of researchers can gather to discuss ‘hot topics’, share knowledge, and find guidance and support to perform science responsibly and with integrity.</p>

    <p>We want to focus on researchers’ daily practice. Our ambition is to collaboratively map the laws, policies and guidelines informing good practices and highlight relevant cases, experiences, educational materials and good practice examples. We will also support educators to develop training on research integrity and ethics.</p>

    <p>
        <div class="video-button" data-href="https://vimeo.com/338636333">
            <span class="video-button-label">The Embassy story</span>
        </div>
    </p>

    <h2 id="community">Let our community take over</h2>
    <p>The Embassy of Good Science is developed by and for researchers, who are willing to gather and join forces to preserve and safeguard good science. No embassy can function without its ambassadors. And that’s where you come in.</p>

    <p>
        <a class="link-button link--download" data-href="https://www.embassy.science/uploads/files/The-Embassy-of-Good-Science-Declaration.pdf">
            <span class="link-button-label">The Embassy Declaration</span>
        </a>
    </p>


    <!-- generic content break -->
    {# all content inside this wrapper will have a skewed blue background  #}
    <div class="generic-content-break">
        <h2>Founders</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <!-- end generic content break -->

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum mattis pellentesque id nibh tortor id aliquet lectus. Nec ultrices dui sapien eget mi. Vel quam elementum pulvinar etiam. Nascetur ridiculus mus mauris vitae. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Convallis tellus id interdum velit. Pellentesque dignissim enim sit amet venenatis. Leo in vitae turpis massa sed elementum. Venenatis tellus in metus vulputate eu scelerisque felis. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Lacinia at quis risus sed vulputate odio ut enim. Scelerisque fermentum dui faucibus in ornare. Egestas egestas fringilla phasellus faucibus. Auctor neque vitae tempus quam pellentesque nec nam. Placerat vestibulum lectus mauris ultrices eros in. Scelerisque purus semper eget duis at tellus at.</p>

    <p>Consectetur lorem donec massa sapien. Semper quis lectus nulla at volutpat diam ut venenatis. Sit amet commodo nulla facilisi nullam. Erat velit scelerisque in dictum non consectetur. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Eu ultrices vitae auctor eu. Facilisi nullam vehicula ipsum a arcu cursus. Rutrum quisque non tellus orci ac. Sit amet volutpat consequat mauris nunc congue nisi. Ultrices in iaculis nunc sed augue. Nulla porttitor massa id neque aliquam vestibulum morbi blandit. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Faucibus a pellentesque sit amet porttitor eget.</p>

    <h2 id="acknowledgements">Acknowledgements</h2>
    <p>This is an initiative by the two projects EnTIRE and Virt2ue and founded by European Union’s Horizon 2020 research program under grant agreement N 741782 and 787580.</p>

    <p><img src="/static/images/te-acknowledgements.png" alt=""></p>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-anchors">
        <h2>On this page:</h2>
        <ul class="sidebar-anchors-wrapper">
            <li><a href="#our-mission">Our Mission</a></li>
            <li><a href="#community">Let our community take over</a></li>
            <li><a href="#be-part">How you can be part of The Embassy</a></li>
            <li><a href="#acknowledgements">Acknowledgements</a></li>
        </ul>
    </div>

{% endblock %}
