---
layout: layouts/main.njk
bodyclasses: is-homepageblue page-Contributors
---

{% set pageheader = {
    'back_button':{
        'url': 'pages/about',
        'label': 'About'
    },
    'text': {
        'title':'Contributors',
        'content': 'The people who already contributed to The Embassy:'
    }
} %}
{% include '../_includes/components/pageheader.njk' %}

<div class="contributors-list contributors-list--long offset-lg-2">
    <ul>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
    </ul>
</div>
