---
layout: layouts/main.njk
bodyclasses: is-verylightblue
---

<div class="pageheader row no-gutters">
    <a class="pageheader-back" href="/pages/about">
        <svg>
            <use xlink:href="#icon-back"></use>
        </svg>
        <span>About</span>
    </a>
    <div class="content text-center text-lg-left col col-lg-7 offset-lg-2">
        <div class="pageheader-title">
            <h1>Contributors</h1>
        </div>
        <div class="pageheader-description">
            <p>TThe people who already contributed to The Embassy:</p>
        </div>
    </div>
</div>

<div class="contributors-list contributors-list--long offset-lg-2">
    <ul>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
        <li>Natalie Evans</li>
        <li>Bert Gordijn</li>
        <li>Bjørn Hofmann</li>
        <li>Marin Viđak</li>
        <li>Hugh Desmond</li>
    </ul>
</div>
