---
layout: layouts/main.njk
bodyclasses: mw-special-BrowseData page-Guides
---

{% set pageheader = {
    'back_button':{
        'url': '#',
        'label': 'Back'
    },
    'text': {
        'title': 'Training guides',
        'content': 'Courses, training programs and curated collections of modules and exercises for fostering research integrity and ethics.'

    },
    'button': {
        'type': 'formbutton-add',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add a guide',
        'label': 'Add a guide',
        'class': 'formbutton-add--instruction'
    }

} %}
{% include '../_includes/components/pageheader.njk' %}
{% include '../_includes/components/drilldown-filters-trainings.njk' %}

{% set blocks = [{
    type: 'guideline',
    title: 'Overall manual for trainers',
    text: 'A little description what this instruction is all about. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.',
    count: true
},{
    type: 'guideline',
    title: 'I. Self-declaration approach: a reflection on the varieties of goodness in research',
    text: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.',
    count: true,
    virt2ue: true
},{
    type: 'guideline',
    title: 'Introduction to research integrity',
    text: 'Introduction to research integrity and virtue ethics, the ECoC and the main concepts used during the training. Including reflection on personal experiences.',
    count: true
},{
    type: 'guideline',
    title: 'Introduction of the first face-to-face session of the VIRT2UE training',
    text: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.',
    count: true
}] %}

{% set resultCount =  '35 guides' %}

{% include "../_includes/components/block-list.njk" %}
