---
layout: layouts/main.njk
bodyclasses: is-homepageblue
---

{% set pageheader = {
    'back_button':{
        'url': '#',
        'label': 'Back'
    },
    'text': {
        'title': 'VIRT2UE train-the-trainer program',
        'content': 'This guide provides practical guidance on how to organise a blended learning train-the trainer-program in research integrity. This training builds on a virtue-based approach to research integrity and aims to support the adoption of the principles and practices outlined in the European Code of Conduct for Research Integrity (ECoC).'
    },
    'type': {
        'label' : 'Guide',
        'icon': 'icon-resources-guidelines'
    },
    'cta': '<span>Want to take part in this training as a trainee?</span><span> Find out <a href="#">how to sign up for this training.</a></span>',
    'button': {
        'type': 'formbutton-edit',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add',
        'label': 'Add',
        'class': 'formbutton-add--instruction',
        'dropdown': [{
            'title': 'Add an instruction',
            'description': 'Step by step instruction for an individual exercise.',
            'url': '#'
        },{
            'title': 'Add a guide',
            'description': 'Overview of a training materials and collection of modules or elements.',
            'url': '#'
        }]
    }

} %}
{% include '../_includes/components/pageheader.njk' %}

{% include "../_includes/components/content-tabs.njk" %}
{% include "../_includes/components/guide-list.njk" %}
