---
layout: layouts/main.njk
bodyclasses: page-Guide
---

{% set pageheader = {
    'back_button':{
        'url': '#',
        'label': 'Back'
    },
    'text': {
        'title': 'VIRT2UE train-the-trainer program',
        'content': 'This guide provides practical guidance on how to organise a blended learning train-the trainer-program in research integrity. This training builds on a virtue-based approach to research integrity and aims to support the adoption of the principles and practices outlined in the European Code of Conduct for Research Integrity (ECoC).'
    },
    'type': {
        'label' : 'Guide',
        'icon': 'icon-resources-guidelines'
    },
    'cta': '<span>Want to take part in this training as a trainee?</span><span> Find out <a href="#">how to sign up for this training.</a></span>',
    'button': {
        'type': 'formbutton-edit',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add',
        'label': 'Add',
        'class': 'formbutton-add--instruction',
        'dropdown': [{
            'title': 'Add an instruction',
            'description': 'Step by step instruction for an individual exercise.',
            'url': '#'
        },{
            'title': 'Add a guide',
            'description': 'Overview of a training materials and collection of modules or elements.',
            'url': '#'
        }]
    }

} %}
{% include '../_includes/components/pageheader.njk' %}

{% include "../_includes/components/content-tabs.njk" %}

{% set blocks = [{
    sectionheader:'Preparing',
    icon: 'icon-instruction',
    type: 'instruction',
    title: 'Overall manual for trainers',
    text: 'A little description what this instruction is all about. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.',
    tags: true
},{
    icon: 'icon-instruction',
    type: 'instruction',
    title: 'I. Self-declaration approach: a reflection on the varieties of goodness in research',
    text: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.',
    tags: true
},{
    sectionheader:'Online interactive modules',
    icon: 'icon-instruction',
    type: 'instruction',
    title: 'Introduction to research integrity',
    text: 'Introduction to research integrity and virtue ethics, the ECoC and the main concepts used during the training. Including reflection on personal experiences.',
    tags: true
},{
    sectionheader:'Participatory exercises',
    icon: 'icon-instruction',
    type: 'instruction',
    title: 'Introduction of the first face-to-face session of the VIRT2UE training',
    text: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.',
    tags: true
}] %}

{% include "../_includes/components/block-list.njk" %}
