---
layout: layouts/main.njk
bodyclasses: mw-special-BrowseData page-Instructions
---

{% set pageheader = {
    'back_button':{
        'url': '#',
        'label': 'Back'
    },
    'text': {
        'title': 'Training instructions',
        'content': 'Practice oriented step-by-step instructions that will help you as a research ethics and research integrity trainer.'
    },
    'button': {
        'type': 'formbutton-add',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add an instruction',
        'label': 'Add an instruction',
        'class': 'formbutton-add--instruction'
    }

} %}
{% include '../_includes/components/pageheader.njk' %}
{% include '../_includes/components/drilldown-filters-instructions.njk' %}

{% set blocks = [{
    icon: 'icon-instruction',
    type: 'instruction',
    title: 'Overall manual for trainers',
    text: 'A little description what this instruction is all about. Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.',
    tags: true
},{
    icon: 'icon-resources-training-materials',
    type: 'instruction',
    title: 'I. Self-declaration approach: a reflection on the varieties of goodness in research',
    text: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.',
    virt2ue: true,
    tags: true
},{
    icon: 'icon-resources-training-materials',
    type: 'instruction',
    title: 'Introduction to research integrity',
    text: 'Introduction to research integrity and virtue ethics, the ECoC and the main concepts used during the training. Including reflection on personal experiences.',
    tags: true
},{
    icon: 'icon-resources-training-materials',
    type: 'instruction',
    title: 'Introduction of the first face-to-face session of the VIRT2UE training',
    text: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo.',
    tags: true
}] %}


{% set resultCount =  '82 instructions' %}

{% include "../_includes/components/block-list.njk" %}
