{% set bodyclasses = 'is-sidebar page-Instruction_' %}

{% set loggedin = true %}

{# Extends the sidebar layout #}
{% extends "../_includes/layouts/sidebar.njk" %}

{# This is where the HTML for the content should be added #}
{% block content %}
    <div class="pageheader-back is-forms te-mw-link" data-href="Category:Theme" data-target="_self">
        <a href="/wiki/Category:Themes" title="Category:Themes">

            <svg>
                <use xlink:href="#icon-back"></use>
            </svg>
        </a>
        <span>Themes</span></div>
    <h1>I. Self-declaration approach: a reflection on the varieties of goodness in research</h1>

    {% set tabs_modifier = 'is-inline' %}
    {% include "../_includes/components/content-tabs.njk" %}

    {% include "../_includes/components/summary-block.njk" %}

    <!-- example of edit button -->
    <div class="formbutton-edit">
        <a href="/wiki/Special:FormEdit/Theme/Theme:651b40c7-f0b8-4742-a816-e7b8438e3fcd" title=""
           target="_self">edit</a>
        <div class="smw-edit-dropdown" data-dropdown-trigger>
            <div class="menu-dots">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 13">
                    <g fill="currentColor" fill-rule="evenodd">
                        <circle cx="1.4619" cy="11.1083" r="1.4619"/>
                        <circle cx="1.4619" cy="6.2851" r="1.4619"/>
                        <circle cx="1.4619" cy="1.4619" r="1.4619"/>
                    </g>
                </svg>
            </div>

            <div class="te-dropdown-menu">
                <a href="#"><span>Share</span></a>
                <a href="#"><span>View source</span></a>
                <a href="#"><span>History</span></a>
            </div>
        </div>
    </div>

    {# TRAINEE DATA #}
    <div id="data-tab-content-trainee" class="g-tabcontent" style="display: block;">

        {% set steps = [{
            'title': 'Trainee Title Step 1',
            'target': 'trainee_title_step_1'
        },{
            'title': 'Trainee Title Step 2',
            'target': 'trainee_title_step_2'
        },{
            'title': 'Trainee Title Step 3',
            'target': 'trainee_title_step_3'
        },{
            'title': 'Trainee Title Step 4',
            'target': 'trainee_title_step_4'
        },{
            'title': 'Trainee Title Step 5',
            'target': 'trainee_title_step_5'
        }
        ] %}

        {% include "../_includes/components/steps-foldout.njk" %}

        <div class="spacer"></div>
        <h2><span id="What_is_this_about?"></span><span class="mw-headline" id="What_is_this_about.3F">What is this about?</span>
        </h2>
        <div class="mw-field-value has-readmore" data-property="Is About">
            Lorem ipsum dolor sit amet
        </div>
        <h2><span id="Why_is_this_important?"></span><span class="mw-headline" id="Why_is_this_important.3F">Why is this important?</span>
        </h2>
        <div class="mw-field-value has-readmore" data-property="Important Because">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
        </div>
        <h2><span class="mw-headline" id="Practical_Tips">Practical Tips</span></h2>
        <div class="mw-field-value has-readmore" data-property="Has Practical Tips">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>

        <div class="spacer"></div>

        {% include "../_includes/components/steps-content.njk" %}

        <h2><span class="mw-headline" id="Remarks">Remarks</span></h2>
        <div class="mw-field-value" data-property="Has Remarks">
            Remarks .....
        </div>
        <div class="spacer"></div>
    </div>

    {# TRAINER DATA #}
    <div id="data-tab-content-trainer" class="g-tabcontent" style="display: none;">

        {% set steps = [{
            'title': 'Trainer Title Step 1',
            'target': 'trainer_title_step_1'
        },{
            'title': 'Trainer Title Step 2',
            'target': 'trainer_title_step_2'
        },{
            'title': 'Trainer Title Step 3',
            'target': 'trainer_title_step_3'
        },{
            'title': 'Trainer Title Step 4',
            'target': 'trainer_title_step_4'
        },{
            'title': 'Trainer Title Step 5',
            'target': 'trainer_title_step_5'
        }
        ] %}

        {% include "../_includes/components/steps-foldout.njk" %}

        <div class="spacer"></div>
        <h2><span id="What_is_this_about?_2"></span><span class="mw-headline" id="What_is_this_about.3F_2">What is this about?</span>
        </h2>
        <div class="mw-field-value" data-property="Is About">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>
        <h2><span id="Why_is_this_important?_2"></span><span class="mw-headline" id="Why_is_this_important.3F_2">Why is this important?</span>
        </h2>
        <div class="mw-field-value" data-property="Important Because">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </div>
        <h2><span class="mw-headline" id="Practical_Tips_2">Practical Tips</span></h2>
        <div class="mw-field-value" data-property="Has Practical Tips">
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
        <div class="spacer"></div>

        {% include "../_includes/components/steps-content.njk" %}

        <h2><span class="mw-headline" id="Remarks_2">Remarks</span></h2>
        <div class="mw-field-value" data-property="Has Remarks">
            Remarks Trainer ....
        </div>
        <div class="spacer"></div>
    </div>


{% endblock %}

{# This is where the HTML for the sidebar should be added #}
{% block sidebar %}
    <!-- example of edit button -->
    <div class="sidebar-item formbutton-edit">
        <a href="/wiki/Special:FormEdit/Theme/Theme:651b40c7-f0b8-4742-a816-e7b8438e3fcd" title=""
           target="_self">edit</a>
        <div class="smw-edit-dropdown" data-dropdown-trigger>
            <div class="menu-dots">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3 13">
                    <g fill="currentColor" fill-rule="evenodd">
                        <circle cx="1.4619" cy="11.1083" r="1.4619"/>
                        <circle cx="1.4619" cy="6.2851" r="1.4619"/>
                        <circle cx="1.4619" cy="1.4619" r="1.4619"/>
                    </g>
                </svg>
            </div>

            <div class="te-dropdown-menu">
                <a href="#"><span>Share</span></a>
                <a href="#"><span>View source</span></a>
                <a href="#"><span>History</span></a>
            </div>
        </div>
    </div>

    <div class="sidebar-item" data-template="RelatedResources">
        <h4 class="sidebar-title">Related resources</h4>
        <input type="checkbox" id="resources">

        {% set relatedResourceData = { modifier: 'is-caseStudies', category: 'Case studies collection', title: 'The European Network of Research Integrity Offices (ENRIO) - Collection', info: '#', url: '#' } %}
        {% include '../_includes/components/related-resource.njk' %}

        {% set relatedResourceData = { modifier: 'is-caseStudies', category: 'Case studies collection', title: 'Responsible Conduct of Research (RCR) - Casebook', info: '#', url: '#' } %}
        {% include '../_includes/components/related-resource.njk' %}

        {% set relatedResourceData = { modifier: 'is-experts', category: 'Experts', title: 'Maura Hiney - Health Research Board ', info: '#', url: '#' } %}
        {% include '../_includes/components/related-resource.njk' %}

        {% set relatedResourceData = { modifier: 'is-caseStudies', category: 'Case studies collection', title: 'Responsible Conduct of Research (RCR) - Casebook', info: '#', url: '#' } %}
        {% include '../_includes/components/related-resource.njk' %}

        {% set relatedResourceData = { modifier: 'is-experts', category: 'Experts', title: 'Maura Hiney - Health Research Board ', info: '#', url: '#' } %}
        {% include '../_includes/components/related-resource.njk' %}

        <label for="resources" class="related-resources-seeMore">See more resources</label>
    </div>

    <div class="sidebar-item" data-template="RelatedDiscussions">
        <h4 class="sidebar-title">Related discussions</h4>
        <input type="checkbox" id="discussions">

        {% set relatedDiscussionData = { title: 'How to request that collaborators add my supervisor\'s name to a manuscript?', url: '#', date: '2 weeks ago', tags: [{label: 'something', url: '#'}] } %}
        {% include '../_includes/components/related-discussion.njk' %}

        {% set relatedDiscussionData = { title: 'Is it unethical to edit grammatical errors in a letter of recommendation?', url: '#', date: '19 December 2018', tags: [{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'},{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}, {label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}] } %}
        {% include '../_includes/components/related-discussion.njk' %}

        {% set relatedDiscussionData = { title: 'Is it unethical to edit grammatical errors in a letter of recommendation?', url: '#', date: '19 December 2020', tags: [{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'},{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}, {label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}] } %}
        {% include '../_includes/components/related-discussion.njk' %}

        {% set relatedDiscussionData = { title: 'Is it unethical to edit grammatical errors in a letter of recommendation?', url: '#', date: '19 January 2018', tags: [{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'},{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}, {label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}] } %}
        {% include '../_includes/components/related-discussion.njk' %}

        {% set relatedDiscussionData = { title: 'Is it unethical to edit grammatical errors in a letter of recommendation?', url: '#', date: '19 December 2018', tags: [{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'},{label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}, {label: 'supervision', url: '#'}, {label: 'medical research', url: '#'}] } %}
        {% include '../_includes/components/related-discussion.njk' %}

        <label for="discussions" class="related-discussions-seeMore">See more discussions</label>
    </div>

    <div class="sidebar-item sidebar--discusssions" data-template="MoreDiscussions">
        <h3>Any questions or experiences to share?</h3>
        <a class="link-button">Join our discussions</a>
    </div>

    {# Related themes using other-info-block component #}
    <div class="sidebar-item" data-template="RelatedThemes">
        {% set otherInfoBlockData = { title: 'Related themes', items: [ { label: 'authorship', url: '#' }, { label: 'plagiarism', url: '#' }, { label: 'self-plagiarism', url: '#' }, { label: 'legal-research', url: '#' }, { label: 'lorem ipsum', url: '#' }, { label: 'dolor amet', url: '#' } ] } %}
        {% include "../_includes/components/other-information-block.njk" %}
    </div>
{% endblock %}
