---
layout: layouts/main.njk
bodyclasses: is-verylightblue
---

{% set pageheader = {
    'back_button':{
        'url': '#',
        'label': 'Back'
    },
    'icon': 'resources',
    'text': {
        'title': 'Resources',
        'content': 'Materials that help you in your every-day research practice to do Good Science.'
    },
    'button': {
        'type': 'formbutton-add',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add Resource',
        'label': 'Add Resource'
    }
} %}
{% include '../_includes/components/pageheader.njk' %}

{% include '../_includes/components/drilldown-filters.njk' %}

{% include '../_includes/components/resources-list.njk' %}
