---
layout: layouts/main.njk
bodyclasses: mw-special-BrowseData
---

{% set pageheader = {
    'back_button':{
        'url': '#',
        'label': 'Back'
    },
    'icon': 'resources',
    'text': {
        'title': 'Resources',
        'content': 'Materials that help you in your every-day research practice to do Good Science.'
    },
    'button': {
        'type': 'formbutton-add',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add a resource',
        'label': 'Add a resource'
    }
} %}
{% include '../_includes/components/pageheader.njk' %}

{% include '../_includes/components/drilldown-filters-resources.njk' %}

{% set blocks = [{
    type: 'guideline',
    title: 'Research ethics training of trainers: Developing capacity of Bolivian health science and civil society leaders',
    text: 'Aalborg A, Sullivan S, Cortes J, Basagoitia A, Illanes D, Green M',
    published_year: '2016',
    navigation: true
},{
    type: 'case',
    title: 'Integrating Ethics Into a Research Experience for Undergraduates',
    text: 'Acharya M,  Davis M,  Weil V',
    published_year: '1995',
    navigation: true
},{
    type: 'education',
    title: 'Integrating Ethics Into a Research Experience for Undergraduates',
    text: 'Acharya M,  Davis M,  Weil V',
    published_year: '1995',
    navigation: true
}] %}

{% set resultCount =  '389 resources' %}

{% include '../_includes/components/block-list.njk' %}
