---
layout: layouts/main.njk
bodyclasses: page-Themes
---

{% set pageheader = {
    'back_button':{
        'url': '#',
        'label': 'Back'
    },
    'icon': 'themes',
    'text': {
        'title':'Good practices',
        'content': 'Find out more about the concepts and practices that inform our ideas about what Good Science is and how to perform it.'
    },
    'button': {
        'type': 'formbutton-add',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add Theme',
        'label': 'Add Theme'
    }
} %}
{% include '../_includes/components/pageheader.njk' %}

<div class="card-grid">
    <div class="card is-themes">
        <div class="card-header">
            <h2 class="card-title text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> Principles &amp;
                    aspirations </a></h2>
        </div>
        <div class="card-body">
            <div class="card-text text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> 9 themes </a>
            </div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <h2 class="card-title text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> Good
                    practices </a></h2>
        </div>
        <div class="card-body">
            <div class="card-text text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> 49 themes </a>
            </div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <h2 class="card-title text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> Misconduct &amp;
                    misbehaviors </a></h2>
        </div>
        <div class="card-body">
            <div class="card-text text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> 0 themes </a>
            </div>
        </div>
    </div>
</div>

<div class="card-grid-4">
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-guidelines"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource">
                    Guidelines </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 12
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-cases"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> Cases </a>
            </div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 2
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-experts-committees"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> Experts
                    &amp; Committees </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 0
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-education"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource"
                                                   title="Category:Resource">Education </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 0
                    resources </a></div>
        </div>
    </div>
</div>

<div class="card-grid-5">
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-guidelines"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource">
                    Guidelines </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 12
                    resources </a></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-cases"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> Cases </a>
            </div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 2
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-experts-committees"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> Experts
                    &amp; Committees </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 0
                    resources </a></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-education"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource"
                                                   title="Category:Resource">Education </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 0
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource">
                    <svg>
                        <use xlink:href="#icon-resources-education"></use>
                    </svg>
                </a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource"
                                                   title="Category:Resource">Education </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 0
                    resources </a></div>
        </div>
    </div>
</div>

<div class="masonry-columns" id="masonry-columns-container">
    <div class="masonry-columns-section-has-parent-theme">
        <div class="masonry-column-header">
            <a href="/wiki/Theme:28a0859b-9e52-4af4-97f0-b0f8eeac1f1c"
               title="Theme:28a0859b-9e52-4af4-97f0-b0f8eeac1f1c">Research misconduct</a>
        </div>
        <div class="masonry-columns-items">
            <div class="masonry-columns-item">
                <div class="masonry-column-link">
                    <a href="/wiki/Theme:5f65272f-6e95-4768-8236-bc821a97f3d8"
                       title="Theme:5f65272f-6e95-4768-8236-bc821a97f3d8">Fabrication</a></div>
            </div>
            <div class="masonry-columns-item">
                <div class="masonry-column-link">
                    <a href="/wiki/Theme:047c3bec-1747-499b-b6d5-684cbfb81edd"
                       title="Theme:047c3bec-1747-499b-b6d5-684cbfb81edd">Falsification</a></div>
            </div>
            <div class="masonry-columns-item">
                <div class="masonry-column-link">
                    <a href="/wiki/Theme:02592695-e4f8-473c-a944-adfe0d8094c0"
                       title="Theme:02592695-e4f8-473c-a944-adfe0d8094c0">Plagiarism</a></div>
            </div>
            <div class="masonry-columns-item">
                <div class="masonry-column-link">
                    <a href="/wiki/Theme:28a0859b-9e52-4af4-97f0-b0f8eeac1f1c"
                       title="Theme:28a0859b-9e52-4af4-97f0-b0f8eeac1f1c">Research misconduct</a>
                </div>
            </div>
        </div>
    </div>
</div>
