{# Extends the sidebar layout #}
{% extends "../_includes/layouts/sidebar.njk" %}

{# This is where the HTML for the content should be added #}
{% block content %}
    <h1>Thematic page</h1>

    <!-- sampled from SMW -->
    <div>
        <h2><span class="mw-headline" id="What_is_this_about">What is this about</span></h2>
        <div data-property="Is About">
            Altmetrics is an alternative, online based approach to research metrics, as opposed to traditional ones,
            such as h-index or impact factor <sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup>
        </div>
    </div>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <h1>Thematic page</h1>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the
        results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present,
        but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ,
        Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about
        Science.</p>
    <div class="formsummary">
        <span id="wpSummaryLabel"><label for="wpSummary">Summary:</label></span> <input
                tabindex="21" name="wpSummary" id="wpSummary" maxlength="200" size="60"></div>
    <p class="formsubmitoptions"><input name="wpMinoredit" type="checkbox" value="1" id="wpMinoredit" accesskey="i"
                                        tabindex="22">
        <label for="wpMinoredit" title="Mark this as a minor edit [ctrl-option-i]">This is a minor edit</label>
        <br> <input name="wpWatchthis" type="checkbox" value="1" checked="checked" id="wpWatchthis" accesskey="w"
                    tabindex="23">
        <label for="wpWatchthis" title="Add this page to your watchlist [ctrl-option-w]">Watch this page</label>
        <br></p>
    <p class="formbuttons"><input id="wpSave" tabindex="24" accesskey="s" title="Save your changes [ctrl-option-s]"
                                  type="submit" value="Save page" name="wpSave">
        <input type="button" id="wpPreview" tabindex="25" accesskey="p"
               title="Preview your changes. Please use this before saving. [ctrl-option-p]" value="Show preview"
               name="wpPreview">
        <span class="formEditCancel">		<span class="editHelp"><a
                        href="javascript:history.go(-1);">Cancel</a></span>
</span></p>
{% endblock %}

{# This is where the HTML for the sidebar should be added #}
{% block sidebar %}
    <!-- example of edit button -->
    <div class="sidebar-item formbutton-edit">
        <a href="/wiki/Special:FormEdit/Theme/Theme:651b40c7-f0b8-4742-a816-e7b8438e3fcd" title="" target="_self">edit
            theme</a>
    </div>
{% endblock %}

