{# Extends the sidebar layout #}
{% extends "../_includes/layouts/sidebar.njk" %}

{# This is where the HTML for the content should be added #}
{% block content %}
    <h1>Thematic page</h1>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
    <h1>Thematic page</h1>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
    <h2>What is this about?</h2>
    <p>“All trials registered, all results reported.” The AllTrials campaign is aiming towards publication of all of the results, from all clinical trials, on all treatments used (1). Their goal is to make this a reality for present, but also for past and future clinical trials. They launched in 2013, as an initiative of Ben Goldacre, BMJ, Centre for Evidence-based Medicine, Cochrane Collaboration, James Lind Initiative, PLOS and Sense about Science.</p>
{% endblock %}

{# This is where the HTML for the sidebar should be added #}
{% block sidebar %}
    <h2>Sidebar</h2>
    <p>content here...</p>
    <a class="btn btn-primary">link</a>
{% endblock %}

