---
layout: layouts/main.njk
---

<!-- page header starts here -->
<div class="pageheader row no-gutters">
    <a class="pageheader-back" href="#">
        <svg>
            <use xlink:href="#icon-back"></use>
        </svg>
        <span>Back</span>
    </a>
    <div class="content text-center text-lg-left col col-lg-7 offset-lg-2">
        <div class="pageheader-title">
            <svg>
                <use xlink:href="#icon-themes"></use>
            </svg>
            <h1>Good practices</h1>
        </div>
        <div class="pageheader-description">
            <p>Find out more about the concepts and practices that inform our ideas about what Good Science is and how
                to perform it.</p>
        </div>
    </div>
    <div class="pageheader-form-button formbutton-add"> <form action="/wiki/Special:FormEdit/Theme" method="get" target="_self"><button type="submit" value="Add Theme" title="">Add Theme</button></form> </div>
</div>

<div class="card-grid">
    <div class="card is-themes">
        <div class="card-header">
            <h2 class="card-title text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> Principles &amp; aspirations </a></h2>
        </div>
        <div class="card-body">
            <div class="card-text text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> 9 themes </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <h2 class="card-title text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> Good practices </a></h2>
        </div>
        <div class="card-body">
            <div class="card-text text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> 49 themes </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <h2 class="card-title text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> Misconduct &amp; misbehaviors </a></h2>
        </div>
        <div class="card-body">
            <div class="card-text text-center"><a href="/wiki/Category:Theme" title="Category:Theme"> 0 themes </a></div>
        </div>
    </div>
</div>

<div class="card-grid-4">
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource"><img
                            alt="Icon-resources-guidelines.svg"
                            src="/wiki-wiki/images/d/d5/Icon-resources-guidelines.svg" width="60" height="44"
                            data-file-width="48" data-file-height="35"></a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource">
                    Guidelines </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 12
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource"><img
                            alt="Icon-resources-cases.svg" src="/wiki-wiki/images/f/f7/Icon-resources-cases.svg"
                            width="60" height="45" data-file-width="44" data-file-height="33"></a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> Cases </a>
            </div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 2
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource"><img
                            alt="Icon-resources-experts-committees.svg"
                            src="/wiki-wiki/images/6/6e/Icon-resources-experts-committees.svg" width="43" height="60"
                            data-file-width="32" data-file-height="44"></a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> Experts
                    &amp; Committees </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 0
                    resources </a></div>
        </div>
    </div>
    <div class="card is-themes">
        <div class="card-header">
            <div class="card-icon"><a href="/wiki/Category:Resource" title="Category:Resource"><img
                            alt="Icon-resources-education.svg" src="/wiki-wiki/images/6/67/Icon-resources-education.svg"
                            width="60" height="54" data-file-width="48" data-file-height="43"></a></div>
        </div>
        <div class="card-body">
            <div class="card-title text-center"><a href="/wiki/Category:Resource"
                                                   title="Category:Resource">Education </a></div>
            <div class="card-text text-center"><a href="/wiki/Category:Resource" title="Category:Resource"> 0
                    resources </a></div>
        </div>
    </div>
</div>

<div class="columns" id="columns-container">
    <div class="columns-item">
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>

    </div>
    <div class="columns-item">
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
    </div>
    <div class="columns-item">
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
    </div>
    <div class="columns-item">
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
    </div>
    <div class="columns-item">
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
    </div>
    <div class="columns-item">
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
        <a href="#" class="column-link"><span>Thematic page something</span>
            <svg class="column-svg">
                <use xlink:href="#icon-forward"></use>
            </svg>
        </a>
    </div>
</div>
