---
layout: layouts/main.njk
---

<!-- page header starts here -->
<div class="pageheader row no-gutters">
    <a class="pageheader-back" href="#">
        <svg>
            <use xlink:href="#icon-back"></use>
        </svg>
        <span>Back</span>
    </a>
    <div class="content text-center text-lg-left col col-lg-7 offset-lg-2">
        <div class="pageheader-title">
            <svg>
                <use xlink:href="#icon-themes"></use>
            </svg>
            <h1>Good practices</h1>
        </div>
        <div class="pageheader-description">
            <p>Find out more about the concepts and practices that inform our ideas about what Good Science is and how to perform it.</p>
        </div>
    </div>
</div>

<div class="pageheader row no-gutters">
    <a class="pageheader-back" href="#">
        <svg>
            <use xlink:href="#icon-back"></use>
        </svg>
        <span>Back</span>
    </a>
    <div class="content text-center text-lg-left col col-lg-7 offset-lg-2">
        <div class="pageheader-title">
            <h1>Good practices</h1>
        </div>
        <div class="pageheader-description">
            <p>Find out more about the concepts and practices that inform our ideas about what Good Science is and how to perform it.</p>
        </div>
    </div>
</div>

<div class="pageheader row no-gutters">
    <div class="content text-center text-lg-left col col-lg-7 offset-lg-2">
        <div class="pageheader-title">
            <h1>Good practices</h1>
        </div>
        <div class="pageheader-description">
            <p>Find out more about the concepts and practices that inform our ideas about what Good Science is and how to perform it.</p>
        </div>
    </div>
</div>
