---
layout: layouts/main.njk
bodyclasses: page-Trainings
---

{% set pageheader = {
    'icon': 'trainings',
    'text': {
        'title': 'Trainings',
        'content': 'Guides, materials and a community that support training on research integrity and ethics.'
    },
    'button': {
        'type': 'formbutton-add',
        'action': '/wiki/Special:FormEdit/Theme',
        'value': 'Add',
        'label': 'Add',
        'class': 'formbutton-add--instruction',
        'dropdown': [{
            'title': 'Add an instruction',
            'description': 'Step by step instruction for an individual exercise.',
            'url': '#'
        },{
            'title': 'Add a guide',
            'description': 'Overview of a training materials and collection of modules or elements.',
            'url': '#'
        }]
    }
} %}
{% include '../_includes/components/pageheader.njk' %}

<div class="card-grid is-trainings">
    <div class="cards-wrapper">
        <div class="card is-trainings">
            <div class="card-header">
                <h2 class="card-title text-center">
                    Training material
                </h2>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="text-block">
                        <span>Step by step guides that help you as a trainer</span>
                        {% set modifier = 'is-mobile' %}
                        {% include "../_includes/components/virtue-button.njk" %}
                        <hr>
                        <div class="training-links">
                            <span class="training-link">
                                <a href="/wiki/Special:BrowseData/Guide" title="Special:BrowseData/Guide">All training guides</a>
                            </span>
                            <span class="training-link">
                                <a href="/wiki/Special:BrowseData/Instruction" title="Special:BrowseData/Instruction">Individual exercises</a>
                            </span>
                        </div>
                    </div>
                    {% set modifier = 'is-desktop' %}
                    {% include "../_includes/components/virtue-button.njk" %}
                </div>
            </div>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="card is-trainings">
            <div class="card-header">
                <h2 class="card-title">
                    <a href="/wiki/Category:Training" title="Category:Training">
                        Educational resources
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <a href="/wiki/Category:Training" title="Category:Training">
                        Literature, tools and other resources to use in training.
                    </a>
                </div>
            </div>
        </div>
        <div class="card is-trainings">
            <div class="card-header">
                <h2 class="card-title">
                    <a href="/wiki/Category:Training" title="Category:Training">
                        Training community
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <a href="/wiki/Category:Training" title="Category:Training">
                        Meet trainers, trainees and ask your questions.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "../_includes/components/banner-block.njk" %}
