---
layout: layouts/main.njk
bodyclasses: is-verylightblue
---

<div class="pageheader row no-gutters">
    <a class="pageheader-back" href="#">
        <svg>
            <use xlink:href="#icon-back"></use>
        </svg>
        <span>Back</span>
    </a>
    <div class="content text-center text-lg-left col col-lg-7 offset-lg-2">
        <div class="pageheader-title">
            <svg>
                <use xlink:href="#icon-resources"></use>
            </svg>
            <h1>VIRT2UE train-the-trainer program</h1>
        </div>
        <div class="pageheader-description">
            <p>This guide provides practical guidance on how to organise a blended learning train-the trainer-program in research integrity. This training builds on a virtue-based approach to research integrity and aims to support the adoption of the principles and practices outlined in the European Code of Conduct for Research Integrity (ECoC).</p>
        </div>
        <div class="pageheader-cta">
            Want to take part in this training as a trainee? Find out <a href="#">how to sign up for this training.</a>
        </div>
    </div>
</div>


{% include "../components/training-tabs.njk" %}
{% include "../components/trainings-list.njk" %}
