{% extends '../_includes/layouts/base.njk' %}

{% block content %}
    <h3>Columns</h3>

    <p>Columns use <a href="https://github.com/bigbite/macy.js" target="_blank" rel="noreferrer">Macy</a> script. You
        always need to add the CDN version when injecting the javascript file <i>masonry-columns.js</i></p>

    <div class="code-sample" style="background-color: #DFF0F3;">
        <div class="columns" id="columns-container">
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>

            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    {% highlight "html" %}
        <div class="columns" id="columns-container">
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>

            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
            <div class="columns-item">
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
                <a href="#" class="column-link"><span>Thematic page something</span>
                    <svg class="column-svg">
                        <use xlink:href="#icon-forward"></use>
                    </svg>
                </a>
            </div>
        </div>
    {% endhighlight %}

{% endblock %}
