---
layout: layouts/base.njk
---

<h3>Home block</h3>

<div class="code-sample">
    <div id="top" class="homeblock container is-header">
        <div class="row align-items-center">
            <div class="homeblock-content col d-flex flex-column align-items-center align-items-lg-end text-sm-center text-lg-right no-gutters">
                <h1 class="homeblock-title col-lg-8">What's here for me?</h1>
                <div class="homeblock-description col-lg-8">
                    <p>The Embassy offers help to anyone seeking support in handling day-to-day research practices and
                        dilemmas.</p>
                </div>
                <div class="homeblock-cards">
                    X X X X
                    cards
                </div>
                <div class="homeblock-anchor">
                    <a href="#top">anchor link</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% highlight "html" %}

{% endhighlight %}
