---
title: 404 - Not found
layout: layouts/base.njk
---

<h3>The Embassy Icons</h3>

<p></p>
<p>Special svg icons for The Embassy. These icons use Webpack SVG loader to add it to the page</p>

<div class="code-sample">
    <svg>
        <use xlink:href="#icon-resources"></use>
    </svg>
</div>

{% highlight "html" %}
<svg>
    <use xlink:href="#icon-resources"></use>
</svg>
{% endhighlight %}

<div class="code-sample">
    <svg>
        <use xlink:href="#icon-resources-cases"></use>
    </svg>
</div>

{% highlight "html" %}
<svg>
    <use xlink:href="#icon-resources-cases"></use>
</svg>
{% endhighlight %}

<div class="code-sample">
    <svg>
        <use xlink:href="#icon-resources-education"></use>
    </svg>
</div>

{% highlight "html" %}
<svg>
    <use xlink:href="#icon-resources-education"></use>
</svg>
{% endhighlight %}

<div class="code-sample">
    <svg>
        <use xlink:href="#icon-resources-experts-committees"></use>
    </svg>
</div>

{% highlight "html" %}
<svg>
    <use xlink:href="#icon-resources-experts-committees"></use>
</svg>
{% endhighlight %}

<div class="code-sample">
    <svg>
        <use xlink:href="#icon-resources-guidelines"></use>
    </svg>
</div>

{% highlight "html" %}
<svg>
    <use xlink:href="#icon-resources-guidelines"></use>
</svg>
{% endhighlight %}


<div class="code-sample">
    <svg>
        <use xlink:href="#icon-resources-training-materials"></use>
    </svg>
</div>

{% highlight "html" %}
<svg>
    <use xlink:href="#icon-resouces-training-materials"></use>
</svg>
{% endhighlight %}

