---
layout: layouts/base.njk
---


<h3>Page header</h3>

<p></p>

<div class="code-sample">
    <div class="pageheader">
        <div class="content">
            <div class="pageheader-title">
                <h1>Good practices</h1>
            </div>
            <div class="pageheader-description">
                <p>Find out more about the concepts and practices that inform our ideas about what Good Science is and how to perform it.</p>
            </div>
        </div>
    </div>
</div>

{% highlight "html" %}
<div class="pageheader">

</div>
{% endhighlight %}
