{% extends '../_includes/layouts/base.njk' %}

{% block content %}

    <h3>Resource block</h3>

    <div class="code-sample">
        <div class="resources-list">
            {% set resources = [
                { icon: 'icon-resources-guidelines', type: 'guidelines', title: 'Research ethics training of trainers: Developing capacity of Bolivian health science and civil society leaders', authors: 'Aalborg A, Sullivan S, Cortes J, Basagoitia A, Illanes D, Green M', published_year: '2016' },
                { icon: 'icon-resources-training-materials', type: 'tool', title: 'Integrating Ethics Into a Research Experience for Undergraduates', authors: 'Acharya M,  Davis M,  Weil V', published_year: '1995' }
            ] %}
            {% for resource in resources %}
                {% include '../_includes/components/resource-block.njk'  %}
            {% endfor %}
        </div>
    </div>

    {% highlight "html" %}
        <div class="resources-list">
            {% set resources = [
                { icon: 'icon-resources-guidelines', type: 'guidelines', title: 'Research ethics training of trainers: Developing capacity of Bolivian health science and civil society leaders', authors: 'Aalborg A, Sullivan S, Cortes J, Basagoitia A, Illanes D, Green M', published_year: '2016' },
                { icon: 'icon-resources-training-materials', type: 'tool', title: 'Integrating Ethics Into a Research Experience for Undergraduates', authors: 'Acharya M,  Davis M,  Weil V', published_year: '1995' }
            ] %}
            {% for resource in resources %}
                {% include '../_includes/components/resource-block.njk'  %}
            {% endfor %}
        </div>
    {% endhighlight %}

{% endblock %}
