<div class="training-tabs">
    <span class="training-tabs-label">Instructions for:</span>
    <a href="#" class="training-tabs-tab active">Trainers</a>
    <a href="#" class="training-tabs-tab">Trainees</a>
</div>
