---
layout: layouts/base.njk
---

<h3>Video button</h3>

<div class="code-sample">
    <p>
        <a class="video-button" href="https://vimeo.com/338636333">
            <span class="video-button-label">The Embassy story</span>
            <span class="video-button-duration">2:07 min</span>
        </a>
    </p>

    <p>
        <div class="video-button" data-href="https://vimeo.com/338636333">
            <span class="video-button-label">The Embassy story</span>
            <span class="video-button-duration">2:07 min</span>
        </div>
    </p>
</div>

{% highlight "html" %}
<p>
    <a class="video-button" href="https://vimeo.com/338636333">
        <span class="video-button-label">The Embassy story</span>
        <span class="video-button-duration">2:07 min</span>
    </a>
</p>

<p>
    <div class="video-button" data-href="https://vimeo.com/338636333">
        <span class="video-button-label">The Embassy story</span>
        <span class="video-button-duration">2:07 min</span>
    </div>
</p>
{% endhighlight %}
