{% extends './_includes/layouts/base.njk' %}

{% block content %}

<h1>The Embassy Components</h1>

<p>On this website you can find the assets for The Embassy of Good Science based on Bootstrap 4.</p>
<p>These will be used on a MediaWiki skin (<a href="https://github.com/cmln/chameleon" target="_blank">Chameleon</a>)
    for The Embassy platform.</p>
<p>Be aware that not all Bootstrap funcionality is in this files. Only the necessary usage on the platform.</p>

<h6>You can download these here:</h6>

<ul>
    <li>main.css - all styles for bootstrap and custom component</li>
    <li>vendors.js - all libraries used and bootstrap javascript components</li>
    <li>main.js - all other custom js modules used in the platform</li>
</ul>

<p>
    <a class="btn btn-primary" href="{{assets['main.css']}}">Download main.css</a>
    <a class="btn btn-primary" href="{{assets['main.js']}}">Download main.js</a>
    <a class="btn btn-primary" href="{{assets['vendors.js']}}">Download vendors.js</a>
</p>

<p>All code how this page is generated can be found on The Embassy github repository, see more <a
        href="https://github.com/the-embassy-of-good-science/the-embassy-components" target="_blank"
        rel="nofollow noreferrer">here</a>.</p>

{% endblock %}
