// Required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Styles for component library
html,
body {
    height: 100%;
    min-height: 100%;
}

.navbar {
    background-color: var(--te-lightblue);
}

.container-fluid {
    min-height: calc(100% - 76px);

     > .row {
        @include media-breakpoint-up(md) {
            height: calc(100vh - 76px);
        }
    }
}

.sidebar {
    @include media-breakpoint-up(sm) {
        height: auto;
    }
    @include media-breakpoint-up(lg) {
        height: 100%;
    }

    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--te-verylightblue);
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.code-sample {
    position: relative;
    margin-bottom: - 0.5rem;
    padding: 40px;
    background-color: #F9F9F9;
}
